<%- include('../../head') %>

<div class="d-flex" style="position:relative;">
  <%- include('../../menu/item_double'); -%>

  <button id="next" class="btn btn-sm btn-outline-success py-0 mx-3">
    <i class="material-icons">arrow_forward</i>
  </button>

  <button id="home" class="btn btn-sm btn-outline-secondary p-0" style="position:absolute;right:0;" onclick="location.href='/NH'">
    <i class="material-icons">home</i>
  </button>

</div>

<div class="container" style="min-height:100vh;">
  <div class="row pt-3">
    <div id="cards_A" class="col d-flex flex-wrap alert alert-primary justify-content-center shadow p-3"></div>
    <div class="col-1"></div>
    <div id="cards_B" class="col d-flex flex-wrap alert alert-primary justify-content-center shadow p-3"></div>
  </div>
</div>


<script>
$(function(){
$("form button[type=submit]").hide();
const deckType = '<%- deckType %>';
document.title = `Double ${deckType}`;

var lit = false;
var unusedCards = [];
var deck = <%- JSON.stringify(deck) %>;
const query = <%- JSON.stringify(query) %>;
var numOfItems = query.number ? parseInt(query.number) 
                              : deck.length >= 18 ? 9 
                              : deck.length >= 8 ? 4 : 0;
if (numOfItems == 0) {
  alert("Not enough items in this deck to play Double.");
  location.href='/NH';
}
else {
  $(`input[name=number][value=${numOfItems}]`).prop('checked', true);
}


$('input[name=number]').on('change', function(){
  numOfItems = parseInt( $(this).val() );
  unusedCards = [];
  const url = new URL(window.location.href);
  url.searchParams.set('number', numOfItems);
  window.history.replaceState({}, '', url);
  load2Cards();
});

$('#next').on('click', function(){
  if (lit){
    load2Cards();
  }
  else {
    highlight();
  }
  lit = !lit;
});

$(document).off('keyup').on('keyup',function(e) {
  if (e.key === "ArrowRight" || e.key === " ") {
    $('#next').click();
  }
});


function highlight(){
      let matchedSrc = '';
    $("#cards_A img").each(function(){
      let src = $(this).attr("src");
      if ( $(`#cards_B img[src='${src}']`).length > 0 ) {
        matchedSrc = src;
      }
    });
    $(`#cards_A img[src='${matchedSrc}'], #cards_B img[src='${matchedSrc}']`).addClass('alert alert-warning p-0 m-0');
}


function load2Cards(){
  let thisHand = FYshuffle( deck.slice() );
  if (unusedCards.length == 0) {
    unusedCards = FYshuffle(deck.slice());
  }
  let item = unusedCards.pop();
  let cards_A = [ item ];
  let cards_B = [ item ];
  
  while (cards_A.length < numOfItems) {
    let candidate = thisHand.pop();
    if (!cards_A.includes(candidate)) {
      cards_A.push( candidate );
    }
  }

  while (cards_B.length < numOfItems) {
    let candidate = thisHand.pop();
    if (!cards_B.includes(candidate) && !cards_A.includes(candidate)) {
      cards_B.push( candidate );
    }
  }
  
  cards_A = FYshuffle(cards_A);
  cards_B = FYshuffle(cards_B);
  $("#cards_A").html("");
  $("#cards_B").html("");
  let w = numOfItems == 9 ? 33 : 50;

  for (let i = 0; i < numOfItems; i++) {
    $("#cards_A").append(`<img src="${cards_A[i].image}" class="" style="width:${w}%" alt="" />`);
    $("#cards_B").append(`<img src="${cards_B[i].image}" class="" style="width:${w}%" alt="" />`);
  }
}

load2Cards();

});
</script>

<%- include('../../foot') %>