<%- include('../../head'); -%>
<style>
  .container {
    container-type: size;
  }

  .flip-back{
    font-weight: bold;
    -webkit-text-stroke: 1px black;
  }
  .flip-front img{
    position:absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    text-align:center;
    max-width:90%;
    max-height:70%;
  }
  .flip-front div{
    position:absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    text-align:center;
  }

</style>

<body>
<div class="d-flex" style="position:relative;">
  <%- include('../../menu/item_keidoro'); -%>
  <button id="home" class="btn btn-sm btn-outline-secondary p-0" style="position:absolute;right:0;" onclick="location.href='/'">
    <i class="material-icons">home</i>
  </button>
</div> 

<div class="pt-3" style="min-height:100vh;user-select: none;">
  <div id="grid" class="d-flex flex-wrap"></div>
</div>


<script>
const deckType = '<%- deckType %>';

$(function(){
$("form button[type=submit]").hide();

var backs = <%- JSON.stringify(deck) %>;
FYshuffle(backs);
var numOfCards = backs.length;
var even = numOfCards % 2 == 0;
document.title = `Keidoro`;


let {length, colspan, rowheight} = getGrid({length: numOfCards, even});
let allLoot = FYshuffle(["money", "gold", "coins", "treasure", "stack", "ring", "ring2", "lapis", "car", "watch", "500", "100", "1"]);
for (let i = 0; i < numOfCards; i++){
  let loot = allLoot[i % allLoot.length];
  $("#grid").append(
    `<div class="col-${colspan} vocab p-0" style="height:${rowheight}vh;">
      <div id="index${i}" class="container flip" style="height:80%;">
        <div class="flip-card shadow">

          <div class="flip-front bg-white rounded border YM">
            <img src="/image/keidoro/${loot}.png" alt="card" class="rounded loot" 
                  style="max-width:90%;max-height:90%;">
          </div>
          <div class="flip-back rounded border border-primary text-center alert-primary"
                style="font-size:${Math.floor(rowheight * 0.7)}vh;">
            ${backs[i].image ? `<img src="${backs[i].image}" alt="card" class="rounded img-fluid" style="max-width:90%;max-height:90%;">` : `${backs[i].text}`}
          </div>
        </div>
      </div>
    </div>`);
}


var timer = 5;
var flags = {
  cop: false,     // can be 5, 4, 3, 2, 1 "done" or false
  bomb: false,    // can be false, "armed", or "defused"
  squad: false,
  thief: "casing",// can be "casing", "spotted" "caught"
  money: false    // not used
}
var thiefIndex = null;
var copIndex = null;
var bombIndex = null;
var squadIndex = null;
var flipped = 0;


function flip(index){
  flipped += 1;
  let item = getItem(index);

  if (flags.bomb == "armed" && !["squad", "cop"].includes(item)){ 
    if (timer == 0){
      setTimeout(() => {
        game_over("boom");
      }, 600);
      return;
    }
    else {
      timer -= 1;
      $(`#index${bombIndex} .flip-front div`).text(`00:0${timer}`);
    }
  }

  if (flags.cop && flags.thief != "caught" && !["thief", "squad"].includes(item)){
    switch(flags.cop){
      case 5:
        flags.cop = 4;
        $("#search").html(
          `<i class="material-icons" style="color:red;">close</i>
          <i class="material-icons" style="color:green;">search</i>
          <i class="material-icons" style="color:green;">search</i>
          <i class="material-icons" style="color:green;">search</i>
          <i class="material-icons" style="color:green;">search</i>`
        );
        break;
      case 4:
        flags.cop = 3;
        $("#search").html(
          `<i class="material-icons" style="color:red;">close</i>
          <i class="material-icons" style="color:red;">close</i>
          <i class="material-icons" style="color:green;">search</i>
          <i class="material-icons" style="color:green;">search</i>
          <i class="material-icons" style="color:green;">search</i>`
        );
        break;
      case 3:
        flags.cop = 2;
        $("#search").html(
          `<i class="material-icons" style="color:red;">close</i>
          <i class="material-icons" style="color:red;">close</i>
          <i class="material-icons" style="color:red;">close</i>
          <i class="material-icons" style="color:green;">search</i>
          <i class="material-icons" style="color:green;">search</i>`
        );
        break;
      case 2:
        flags.cop = 1;
        $("#search").html(
          `<i class="material-icons" style="color:red;">close</i>
          <i class="material-icons" style="color:red;">close</i>
          <i class="material-icons" style="color:red;">close</i>
          <i class="material-icons" style="color:red;">close</i>
          <i class="material-icons" style="color:green;">search</i>`
        );
        break;
      case 1:
        flags.cop = "done";
        $("#search").html(
          ``
        );
        $(`#index${copIndex} .flip-front`).html(
          `<img src="/image/keidoro/gakkari.png" alt="cop">
          <div id="search" style="font-size:2rem;font-weight:bold;">
          <i class="material-icons" style="color:red;">close</i>
          <i class="material-icons" style="color:red;">close</i>
          <i class="material-icons" style="color:red;">close</i>
          <i class="material-icons" style="color:red;">close</i>
          <i class="material-icons" style="color:red;">close</i>
          `);
        
        game_over("getaway");

        break;
    }

  }

  switch(item){
    case "money":
      if (flipped == numOfCards) game_over("getaway");
      break;
    case "bomb":
      flags.bomb = "armed";
      bombIndex = index;
      $(`#index${index} .flip-front`).html(`<img src="/image/keidoro/bomb.png" alt="bomb">
      <div style="font-size:2rem;font-weight:bold;color:red;">00:${String(timer).padStart(2, '0')}</div>`);
      break;
    case "squad":
      handleSquad(index);
      break;
    case "cop":
      handleCop(index);
      break;
    case "thief":
      handleThief(index);
      break;

    default: 
      return;
  }
}

function getItem(index){
  let unflipped = numOfCards - flipped;

  if (flipped == 1) return "money";
  else if (unflipped == 0 && flags.thief != "caught") return "thief";
  else if (unflipped == 4 && !flags.cop) return "cop";
  else if (unflipped == 6 && !flags.bomb){
    flags.bomb = "armed";
    return "bomb";
  }
  else {
    let items = ["money"];

    switch(flags.thief) {
      case "casing": // thief hasn't been spotted yet
        if (Math.random() < 0.5) items.push("thief");
        break;
      case "spotted":
        if (Math.random() < 0.5) items.push("thief");
        if (!flags.cop) { // thief spotted but no cop yet
          items.push("cop");
        }
        if (!flags.squad) {
          items.push(!flags.bomb ? "bomb" : "squad");
        }
        items.push("money");
        break;
      
      case "caught":
        if (!flags.squad) {
          items.push(!flags.bomb ? "bomb" : "squad");
        }
        break;
    }

    FYshuffle(items);
    let item = items.pop();
    flags[item] = true;
    return item;
  }
}

function handleThief(index){
  flags.thief = "spotted";
  thiefIndex = index;
  $(`#index${index} .flip-front`).html('<img src="/image/keidoro/thief.png" alt="thief">');
  if (flags.cop){
    flags.thief = "caught";
    setTimeout(() => {
      jumpToCard(copIndex, thiefIndex, 
        '<img src="/image/keidoro/cop.png" alt="cop"><div style="font-size:2rem;color:orange;font-weight:bold;">GOTCHA!</div>',
        () => {
          // make money visible again
          $(`.flipped .flip-front img`).each(function(){
            if ($(this).hasClass('loot')){
              $(this).css('visibility', 'visible');
            }
          });
          if (flags.squad && flags.bomb == "defused") game_over("gotcha");
        }
      );
    }, 600);
  }
  else { // no cop, thief escapes with money
    flags.thief = "spotted";
    setTimeout(() => {
      let imagesToAnimate = [];
      let thiefCard = $(`#index${index}`);
      let thiefImg = $(`#index${index} .flip-front img`).clone();
      let thiefPos = thiefCard.offset();
      
      thiefImg.css({
        position: 'absolute',
        top: thiefPos.top,
        left: thiefPos.left,
        zIndex: 1000,
        width: thiefCard.find('.flip-front img').width(),
        height: thiefCard.find('.flip-front img').height()
      });
      imagesToAnimate.push(thiefImg);
      $(`#index${index} .flip-front img`).css('visibility', 'hidden');
      
      $(`.flipped .flip-front img`).each(function(){
        if ($(this).hasClass('loot')){
          let moneyCard = $(this).closest('.flipped');
          let moneyImg = $(this).clone();
          let moneyPos = moneyCard.offset();
          
          moneyImg.css({
            position: 'absolute',
            top: moneyPos.top,
            left: moneyPos.left,
            zIndex: 1000,
            width: $(this).width(),
            height: $(this).height()
          });
          imagesToAnimate.push(moneyImg);
          $(this).css('visibility', 'hidden');
        }
      });
      
      imagesToAnimate.forEach(img => {
        $('body').append(img);
        img.animate({
          left: -200
        }, 800, function(){
          $(this).remove();
        });
      });
    }, 600);
  }
}

function handleSquad(index){
  squadIndex = index;
  $(`#index${index} .flip-front`).html('<img src="/image/keidoro/bombsquad.png" alt="squad">');
  
  if (flags.bomb == "armed"){
    jumpToCard(squadIndex, bombIndex, 
      '<img src="/image/keidoro/bombsquad.png" alt="squad"><div style="font-size:2rem;color:green;font-weight:bold;">DEFUSED</div>',
      () => {
        if (flags.cop && flags.thief === "caught") game_over("gotcha");
      });

    timer = 0;
    flags.bomb = "defused";
  }
  else {
    if (flags.cop && flags.thief === "caught") game_over("gotcha");
  }
}

function handleCop(index){
  copIndex = index;
  flags.cop = 5;
  $(`#index${index} .flip-front`).html(`<img src="/image/keidoro/cop.png" alt="cop">
    <div id="search" style="font-size:2rem;font-weight:bold;">
      <i class="material-icons" style="color:green;">search</i>
      <i class="material-icons" style="color:green;">search</i>
      <i class="material-icons" style="color:green;">search</i>
      <i class="material-icons" style="color:green;">search</i>
      <i class="material-icons" style="color:green;">search</i>
    </div>`);
}

function jumpToCard(fromIndex, toIndex, newContent, callback){
  setTimeout(() => {
    let fromCard = $(`#index${fromIndex}`);
    let toCard = $(`#index${toIndex}`);
    let jumpImg = $(`#index${fromIndex} .flip-front img`).clone();
    
    let fromPos = fromCard.offset();
    let toPos = toCard.offset();
    
    jumpImg.css({
      position: 'absolute',
      top: fromPos.top,
      left: fromPos.left,
      zIndex: 1000,
      width: fromCard.find('.flip-front img').width(),
      height: fromCard.find('.flip-front img').height()
    });
    $('body').append(jumpImg);
    
    // Remove the original image from the source card
    $(`#index${fromIndex} .flip-front`).html('');
    
    jumpImg.animate({
      top: toPos.top,
      left: toPos.left
    }, 500, function(){
      $(this).remove();
      $(`#index${toIndex} .flip-front`).html(newContent);
      if (callback) callback();
    });
  }, 300);
}

function game_over(result){
  $(".flip").off('click');
  switch(result){
    case "boom":
      // the bomb image is replaced by the boom image. Then it grows to fill the screen.
      $(`#index${bombIndex} .flip-front`).html('<img src="/image/keidoro/boom.png" alt="boom">');
      let bombCard = $(`#index${bombIndex}`);
      let bombImg = $(`#index${bombIndex} .flip-front img`).clone();
      let bombPos = bombCard.offset();
      bombImg.css({
        position: 'absolute',
        top: bombPos.top,
        left: bombPos.left,
        zIndex: 1000,
        width: bombCard.find('.flip-front img').width(),
        height: bombCard.find('.flip-front img').height()
      });
      $('body').append(bombImg);
      bombImg.animate({
        top: 0,
        left: 0,
        width: '100%',
        height: '100%'
      }, 300);
      $(".flip").off('click');
      break;
    case "gotcha":
      // Show success image in a modal
      let modal = $(`
        <div class="modal fade show" tabindex="-1" style="display: block;">
          <div class="modal-dialog modal-dialog-centered" style="max-width: 90vw; max-height: 90vh;">
            <div class="modal-content bg-transparent border-0">
              <img src="/image/keidoro/success.png" alt="success" class="img-fluid" style="max-height: 90vh;">
            </div>
          </div>
        </div>
        <div class="modal-backdrop fade show"></div>
      `);
      $('body').append(modal);
      modal.on('click', function(e){
        e.stopPropagation();
        modal.remove();
        setTimeout(() => {
          $(document).on('click', () => location.reload());
        }, 100);
      });
      $(".flip").off('click');
      break;
    case "getaway":
      // Thief peeks in from the left side for one second
      let thiefImg = $('<img src="/image/keidoro/thief.png" alt="thief" class="rounded img-fluid">');
      thiefImg.css({
        position: 'fixed',
        top: '50%',
        right: '-300px',
        transform: 'translateY(-50%)',
        zIndex: 1000,
        width: '300px',
        height: 'auto'
      });
      $('body').append(thiefImg);
      thiefImg.animate({
        right: '300px'
      }, 1000, function(){
        setTimeout(() => {
          thiefImg.animate({
            right: '-300px'
          }, 1000, function(){
            thiefImg.remove();
          });
        }, 1000);
      });
      break;
    default:
      alert("Game Over");
      break;
  }
  if (result !== "gotcha") {
    setTimeout(() => {
      $(document).on('click', () => location.reload());
    }, 1000);
  }
}


$(".flip").on('click', function(){
  let id = $(this).attr('id');
  let index = id.replace('index', '');
  flip(index);
  $(this).addClass('flipped').off('click');
});

});
</script>

<%- include('../../foot'); -%><!-- FOOT INCLUDES SCRIPTS AND </body> -->
