<%- include('../head'); -%>

<body>
  <div class="d-flex">
    <button class="btn btn-sm btn-outline-secondary p-0 me-1" data-bs-toggle="modal" data-bs-target="#books_modal">
      <i class="material-icons">info</i>
    </button>

    <form id="books_form" action="books" method="GET" class="d-flex p-0">
      <select id="books_select" class="form-control form-control-sm" name="book" required>
        <option value="brainbox">A-GO Brainbox</option>
        <option value="honto1">Honto Ni Warkaru 1</option>
        <option value="honto2">Honto Ni Warkaru 2</option>
        <option value="honto3">Honto Ni Warkaru 3</option>
      </select>
      <select id="page_select" class="form-control form-control-sm" name="page" required>
  <% for (let d of pages ) { %>
        <option value="<%- d %>"><%- d %></option>
  <% } %>
      </select>
    </form>
  </div>

  <div class="container-fluid" style="min-height:100vh;">
    <div class="row">
      <div id="img_container" class="col text-center">
      </div>
    </div>

  </div>

<script>
$(function(){
  var url = window.location.href;
  const searchParams = new URLSearchParams(url.substring(url.indexOf('?')));
  const book = searchParams.get('book');
  const page = searchParams.get('page');
  $('#books_select').val(book);
  $('#page_select').val(page);
  if (page) $('#img_container').html(`<img src="/image/books/${book}/${page}" alt="books" class="img-fluid" />`);
  if (book === 'brainbox') $('#img_container img').css('max-height', '100vh');

  $('#books_select').on('change', function(){
    $('#page_select').val(undefined);
    $('#books_form').submit();
  });
  $('#page_select').on('change', function(){
    $('#books_form').submit();
  });

  // select next or previous item in page menu on arrow keydown
  $(document).on('keydown', function(e){
    if (e.key === 'ArrowRight') {
      const next = $('#page_select option:selected').next();
      console.log(next);
      if (next.length) {
        $('#page_select').val(next.val());
        $('#books_form').submit();
      }
    }
    if (e.key === 'ArrowLeft') {
      const prev = $('#page_select option:selected').prev();
      console.log(prev);
      if (prev.length) {
        $('#page_select').val(prev.val());
        $('#books_form').submit();
      }
    }
  });
});

</script>
<%- include ("../modals/modal_books.ejs") %>
<%- include('../foot'); -%><!-- FOOT INCLUDES SCRIPTS AND </body> -->
