<%- include('../head'); -%>
<style>
  #display div{ width: 16%;}
</style>

<body>
<div class="d-flex">

  <button class="btn btn-sm btn-outline-secondary p-0 me-3" data-bs-toggle="modal" data-bs-target="#bingo_modal">
    <i class="material-icons">info</i>
  </button>

  <button id="start" class="btn btn-sm btn-outline-success py-0 mx-3">
    <i class="material-icons">play_arrow</i>
  </button>
  <button id="check" class="btn btn-sm btn-outline-success py-0 mx-3" style="display:none;">
    <i class="material-icons">check_circle</i>
  </button>
</div>

  <div class="container-fluid" style="min-height:100vh;">
    <div class="row">
      <div id="display" class="col d-flex flex-wrap justify-content-center text-center UD"></div>
    </div>

    <div id="slides" class="row" style="display:none;">
      <div class="col-1 text-center py-1">
        <button id="prev" class="btn btn-light shadow h-100" aria-label="previous slide">
          <i class="material-icons md-large">navigate_before</i>
        </button>
      </div>

      <div class="col-10 text-center p-1">
        <div id="currentSlide" class="text-center UD" style="height:90vh;position:relative;"></div>
      </div>

      <div class="col-1 text-center py-1">
        <button id="next" class="btn btn-light shadow h-100" aria-label="next slide">
          <i class="material-icons md-large">navigate_next</i>
        </button>
      </div>
    </div>

  </div>

<%- include ("../modals/modal_bingo.ejs") %>

<script>
$(function(){
// PREPARE THE DECK ////////////////////////////////////////////////////////////
  const deckType = '<%- deckType %>';
  document.title = `Bingo ${deckType}`;

  var deck = <%- JSON.stringify(deck) %>;
  const params = <%- params %>;
  var index = 0;

  function getContent(i){
    let str = i.word.split('(')[0].replace(/_/g, " ");
    if (deckType == "text") return `<div class="rounded-3 bg-white border display-1 p-1">${str}</div>`;
    else {
      let img = i.image ? `<image alt="${str}" src="${i.image}" class="img-fluid">` : '';
      return `<div class="rounded-3 bg-white border display-6 p-1">${img}<br />${str}</div>`;
    }
  }
  function getSlide(i){
    let str = i.word.split('(')[0].replace(/_/g, " ");
    if (deckType == "text") {
      // make size proportional to length of string
      let size = Math.max(10, 20 - str.length*2);
      return `<div class="rounded-3 bg-white border h-100" style="font-size:${size}rem;">${str}</div>`;
    }
    else {
      let img = i.image ? `<image alt="${str}" src="${i.image}" class="img-fluid h-75">` : '';
      return `<div class="rounded-3 bg-white border display-6 p-1 h-100">${img}<br/>${str}</div>`;
    }
  }

// PREPARE THE DISPLAY /////////////////////////////////////////////////////////
  for (let i of deck){ $('#display').append( getContent(i) ); }

  deck = FYshuffle(deck);

  $("#start").on('click', ()=>{
    $("#display").empty();
    $("#start").hide();
    $("#check").show();
    $("#slides").show();
    $("#currentSlide").html( getSlide(deck[index]) );
  });

  $("#check").on('click', ()=>{
    $("#slides").hide();
    $("#check").hide();
    $("#start").show();
    for (let i=0; i<=index; i++){
      $('#display').append( getContent(deck[i]) );
    }
  });

  $("#prev").on('click', ()=>{
    if (index > 0) {
      index--;
      $("#currentSlide").html( getSlide(deck[index]) );
    }
  });

  $("#next").on('click', ()=>{
    if (index < deck.length-1) {
      index++;
      $("#currentSlide").html( getSlide(deck[index]) );
    }
  });

  $(document).on('keydown', (e)=>{
    if (e.key == "ArrowLeft") $("#prev").click();
    if (e.key == "ArrowRight") $("#next").click();
  });
});

</script>

<%- include('../foot'); -%><!-- FOOT INCLUDES SCRIPTS AND </body> -->
