<%- include('../head'); -%>
<style>
  html, body{ 
    height:100% ;
    background-image: none !important;
  }
  
  @media print {  }

</style>


<body>
  <div id="menucontainer" style="display:none;"><!-- to adios the entire menu when printing -->
    <div id="menu" class="d-flex" style="position:relative;">

      <%- include('../menu/item_cards'); -%>

      <button id="print" class="btn btn-sm btn-outline-success py-0 mx-3">
        <i class="material-icons">print</i>
      </button>

    <button id="home" class="btn btn-sm btn-outline-secondary p-0" style="position:absolute;right:0;" onclick="location.href='/'">
      <i class="material-icons">home</i>
    </button>

    </div>
  </div>

  <div id="sheet" class=""></div>


<script>
$(function(){
  $("form button[type=submit]").hide();
  document.title = `Print Cards`;

  // PREPARE THE DECK //////////////////////////////////////////////////////////
  var deck = <%- JSON.stringify(deck) %>;
  const query = <%- JSON.stringify(query) %>;
  console.log(query);
  var showtext = query.showtext === 'true' ? true : false;
  history.replaceState(null, '', `?showtext=${showtext}`);
  
  setText = ()=>{
    if (showtext) {
      $('.txt').show();
      $('#showtext').prop('checked', true);
    }
    else {
      $('.txt').hide();
      $('#showtext').prop('checked', false);
    }
    history.replaceState(null, '', `?showtext=${showtext}`);
  };


  $("#showtext").on('change', ()=>{
    showtext = $("#showtext").prop('checked'); // do before setText()
    setText();
  });


  $("#menucontainer").show();

  for (let i in deck){
    $('#sheet').append(`
      <div class="text-center" style="width:100%;height:100%;">
        <img src="${deck[i].image}" alt="${i}" 
              class="img-fluid" style="width:100%;" 
              onerror="altOnly(this)">

        <div class="txt text-center YM w-100" style="font-size:15rem;line-height:12rem;" contenteditable="true">
          ${i}
        </div>

      </div>`);
  }


  $("#print").on('click', ()=>{
    window.print();
  });

  window.onbeforeprint = function(){
    $("#menucontainer").hide();
    window.print();
  };

  // show menu when printing is done
  window.onafterprint = function(){
    $("#menucontainer").show();
  };

  setText();

});

</script>
  
<%- include('../foot'); -%><!-- FOOT INCLUDES SCRIPTS AND </body> -->
