<%- include('../head'); -%>
<style>
  ::-webkit-input-placeholder { text-align:right; }
  input:-moz-placeholder { text-align:right; }

  .add {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    cursor: pointer;
  }
  .add:hover {
    color: red;
  }
</style>

<div class="d-flex justify-content-between">
  <div></div>
  <button id="home" class="btn btn-sm btn-outline-secondary p-0" onclick="location.href='/'">
    <i class="material-icons">home</i>
  </button>
</div>

<div class="container-fluid pt-3">

  <div class="row">
<!-- SELECT VOCAB FORMS ------------------------------------------------------->
    <div class="col-md-4">
      <div class="border border-white rounded-3 alert-secondary p-3 mb-3">
        <form id="vocab_add_form" class="form d-flex mb-3">
          <input id="input" type="text" class="form-control" name="word" 
                placeholder="<%- __('text') %>">
          <button type="submit" class="btn btn-success">
            <i class="material-icons">add</i>
          </button>
        </form>

        <div class="d-flex justify-content-end">
          <div class="text-muted me-3"><%- __('speech') %></div>
          <div id="speech_recognition" class="btn btn-success">
            <i class="material-icons">mic</i>
          </div>
        </div>
        <div id="output" style="min-height:1.5em;">&nbsp;</div>
      </div>

      <div class="border border-white rounded-3 alert-secondary p-3">
        <%- include('../menu/lists') %>
      </div>
  
    </div>

    <div class="col-md-4">
      <%- include('../menu/item_type') %>
    </div>
    <div class="col-md-4">
      <%- include('../menu/item_spell') %>
    </div>


  </div>
</div>


<!-- <script src="javascripts/spell.js" type="text/javascript"></script> -->
<script type="module">
  import translate from "https://cdn.jsdelivr.net/npm/translate/index.min.js";
  window.deckType = 'nolink'; // define before reading local storage

  $(function(){

    window.deck = [];
    window.local = [];
    var words = {};
    $.get('/vocablist', (data) => {
      words = data;
    });

// TEXT INPUT //////////////////////////////////////////////////////////////////
    $('#vocab_add_form').submit(async function(e){
      e.preventDefault();

      let input = $("#input").val();
      input = input.split(/ã€|,/).map((w) => w.trim());

      for (let word of input){
        let EnglishWord = '';
        let JapaneseWord = '';
        let image = '';
        let audio = '';
        let isJapanese = word.match(/[\u3040-\u30ff\u3400-\u4dbf\u4e00-\u9fff\uf900-\ufaff]/);

        if (isJapanese) {
          JapaneseWord = word;
          EnglishWord = await translate(word, { from: "ja", to: "en" });
        } else {
          EnglishWord = word;
          JapaneseWord = await translate(word, { from: "en", to: "ja" });
        }

        if (Object.keys(words).includes(EnglishWord)) {
          image = words[EnglishWord].image;
          audio = words[EnglishWord].audio;
          if (JapaneseWord != words[EnglishWord].meaning) {
            JapaneseWord += `, ${words[EnglishWord].meaning}`;
          }
        } else {
          let lc = EnglishWord.toLowerCase();
          if (Object.keys(words).includes(lc)) {
            EnglishWord = lc;
            image = words[lc].image;
            audio = words[lc].audio;
            if (JapaneseWord != words[lc].meaning) {
              JapaneseWord += `, ${words[lc].meaning}`;
            }
          }
        }
        let id = EnglishWord.split(' ').join('_');
        addSSWord({word: EnglishWord, id, meaning: JapaneseWord, image, audio});
      }
      $("#input").val('');
    });


// SPEECH RECOGNITION //////////////////////////////////////////////////////////
    const SpeechRecognition =
      window.SpeechRecognition || window.webkitSpeechRecognition;
    const SpeechGrammarList =
      window.SpeechGrammarList || window.webkitSpeechGrammarList;
    const SpeechRecognitionEvent =
      window.SpeechRecognitionEvent || window.webkitSpeechRecognitionEvent;

    var recognition = new SpeechRecognition();
    // const grammar = `#JSGF V1.0; grammar words; public <word> = ${words.join(" | ")};`;
    // var speechRecognitionList = new SpeechGrammarList();
    // speechRecognitionList.addFromString(grammar, 1);
    // recognition.grammars = speechRecognitionList;
    recognition.continuous = false;
    recognition.lang = "en-US";
    recognition.interimResults = false;
    recognition.maxAlternatives = 1;

    $("#speech_recognition").on('mousedown', () => {
      recognition.start();
    }).on('mouseup', () => {
      $("#output").html('');
      recognition.stop();
    });

    recognition.onstart = () => {
      $("#output").html("Listening...");
    };

    recognition.onresult = async (event) => {
      let image = '';
      let audio = '';
      let EnglishWord = event.results[0][0].transcript;
      let conf = Math.round(event.results[0][0].confidence*100);
      let JapaneseWord = await translate(EnglishWord, { from: "en", to: "ja" });

      if (Object.keys(words).includes(EnglishWord)) {
          image = words[EnglishWord].image;
          audio = words[EnglishWord].audio;
        if (JapaneseWord != words[EnglishWord].meaning) {
          JapaneseWord += `, ${words[EnglishWord].meaning}`;
        }
      } else {
        let lc = EnglishWord.toLowerCase();
        if (Object.keys(words).includes(lc)) {
          EnglishWord = lc;
          image = words[lc].image;
          audio = words[lc].audio;
          if (JapaneseWord != words[lc].meaning) {
            JapaneseWord += `, ${words[lc].meaning}`;
          }
        }
      }
      let id = EnglishWord.split(' ').join('_');
      addSSWord({word: EnglishWord, id, meaning: JapaneseWord, image, audio});
    };

    recognition.onerror = (event) => {
      console.error(event);
      $("#output").html(`Error occurred in recognition: ${event.error}`);
    };

    recognition.onend = () => {
      $("#output").html('');
    };


    function addSSWord(w) {
      // check window.deck for w.word
      for (let d of window.deck) {
        if (d.word == w.word) {
          // append w.meaning to d.meaning if not already there
          if (!d.meaning.includes(w.meaning)) {
            d.meaning += `, ${w.meaning}`;
            $(`#${w.word}`).parent().html(`${w.word} - ${d.meaning}`);
          }
          return;
        }
      }

      window.deck.push(w);
      window.local.push(w);
      let id = w.word.replace(/[ '-.]/g, '_');
      $("#list").append( // in menu/lists.ejs
      `<div class="alert-primary rounded-3 m-1 ps-1 d-flex justify-content-between">
          <div id="${id}">${w.word} - ${w.meaning}</div>
          <div data-value="${w.word.split(' ').join('_')}" class="list btn btn-close" style="font-size:10px;"></div>
        </div>`);

      $(".btn-close").off('click').on('click', (event) => {
        let val = $(event.target).data('value');
        $(event.target).parent().remove();
        window.deck = window.deck.filter(d => d.word != val);
        window.local = window.local.filter(e => e.id !== val);
        $("#numOfItems").html(`&nbsp;(${window.deck.length})`);
      });

      $("#numOfItems").html(`&nbsp;(${window.deck.length})`);
    }


    $(".menuitem").on('submit', (e)=>{
      e.preventDefault();
      if (!window.deck || window.deck.length == 0) {
        alert("<%- __('pleaseSelect') %>");
      }
      else {
        $(e.target).find("input[name='deck']").val(JSON.stringify(window.deck));
        $(e.target).find("input[name='deckType']").val(window.deckType);
        $(e.target).off('submit').submit();
      }
    });

  });
  </script>

  <%- include('../foot') %>