<%- include('../head'); -%>
<style>
  #image img{
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    max-width:100%;
    max-height:50vh;
  }
</style>

<body>
<div class="d-flex justify-content-between">
  <%- include('../menu/item_type'); -%>
  <button id="home" class="btn btn-sm btn-outline-secondary p-0" onclick="location.href='/'">
    <i class="material-icons">home</i>
  </button>
</div>


  <div id="info" class="container">
    <div class="row pb-5">

      <div class="col text-center">
        <div class="display-1 YM">
          <%- __('activity.type.title') %>
        </div>
        <%- __('activity.type.1') %>
      </div>

    </div>
    <div class="row text-center">
      <div id="result" class="col" style="display:none;"></div>
      <div id="controls" class="col d-flex justify-content-center">
        <div class="d-flex align-items-center">
          <select id="timeLimit" class="form-select form-select-lg" aria-label="time limit">
            <option value="10">10 seconds</option>
            <option value="30">30 seconds</option>
            <option value="60" selected>1 minute</option>
            <option value="90">90 seconds</option>
            <option value="120">2 minutes</option>
            <option value="180">3 minutes</option>
            <option value="240">4 minutes</option>
            <option value="300">5 minutes</option>
          </select>
          <button id="start" aria-label="next" class="btn btn-lg btn-success ms-3" autofocus>
            START
          </button>
        </div>

      </div>
    </div>
  </div>

  <div id="content" class="container" style="display:none;">
  
    <div class="row g-0">
      <div id="remaining" class="col-1 text-primary display-5 YM"></div>

      <div class="col-10 text-center YM">
        <div id="display" class="text-center mb-3"></div>
        <div id="answer" class="d-flex flex-wrap justify-content-center">
          <!-- populated dynamically by resetAnswer() -->
        </div>
        <div id="image" class="p-4"></div>
      </div>

      <div id="timer" class="col-1 text-primary YM"></div>
    </div>

  </div>


<script>
$(function(){
  $("form button[type=submit]").hide();

  const deckType = '<%- deckType %>';
  document.title = `Type ${deckType}`;

  // PREPARE THE DECK //////////////////////////////////////////////////////////
  const params = <%- params %> || {};
  const originalDeck = <%- JSON.stringify(deck) %>;
  var deck = originalDeck.slice();
  let timeLimit = 0; // seconds
  var finished = false;
  var starttime = 0;
  var score = 0;
  var misses = 0;
  var totalLetters = 0;

  const letters = ["q","w","e","r","t","y","u","i","o","p",
                  "a","s","d","f","g","h","j","k","l",
                  "z","x","c","v","b","n","m","-","'",".",
                  " ",
                  "Q","W","E","R","T","Y","U","I","O","P",
                  "A","S","D","F","G","H","J","K","L",
                  "Z","X","C","V","B","N","M"];

  start = () =>{
    timeLimit = parseInt($("#timeLimit").val());
    starttime = new Date();
    finished = false;
    score = 0;
    misses = 0;
    totalLetters = 0;
    
    deck = originalDeck.slice();
    FYshuffle(deck);
    resetAnswer();
    requestAnimationFrame(updateAnimation);
    $("#info").hide();
    $("#content").show();
  }

  showResults = ()=>{
    let elapsedTime = Math.round( (new Date() - starttime) / 1000 );
    let wpm = Math.round(60 * score / elapsedTime);

    $("#result").html(`
      <div class="fs-1">Words Typed : ${score}</div><hr/>
      <div class="fs-3">Mistakes : ${misses}</div>
      <div class="fs-5">Accuracy : ${Math.round(100 * totalLetters / (totalLetters + misses)) || 100}%</div>
      <div class="fs-5">Speed : ${wpm} wpm</div>`).show();
    $("#content").hide();
    $("#info").show();
    $("#start").focus();
  }


  updateAnimation = ()=> {
    if (!finished && new Date() - starttime < timeLimit * 1000) {
      let time = timeLimit - Math.floor((new Date() - starttime) / 1000).toString();
      $("#timer").html(`<span class="display-3">${time}</span><br/>seconds left`);
      requestAnimationFrame(updateAnimation); // Keep the animation going
    } 
    else {
      finished = true;
      showResults();
    }
  }


  resetAnswer = ()=>{
    if (finished){
      finished = false;
      requestAnimationFrame(updateAnimation);
    }

    place = 0;
    guess = '';
    $("#display").empty();
    $("#answer").html(`<div class="word d-flex"></div>`);

    item = deck.pop();
    if (item){
      let done = originalDeck.length - deck.length;
      $("#remaining").html(`${done}/${originalDeck.length}`);

      if (deckType != 'text'){
        $("#image").html(
          item.image ? `<img src="${item.image}" 
                          class="img-fluid"
                          alt="${item.word}" 
                          onerror="altOnly(this)">`
                     : `<div class="display-6 border border-primary rounded-3 text-primary">${item.meaning}</div>`);
      }
      else $("#image").html('');

      $("#display").html(`<div class="display-1">${item.word}</div>`);

      for (let i = 0; i < item.word.length; i++){
        let l = item.word[i];
        let wordwrap = [' ', '-'].includes( l ) ? true : false;

        $("#answer .word:last-child").append(`<div id="place${i}"
                                  class="place btn btn-lg alert-primary"
                                  style="font-size:2em;width:60px;">_</div>`);
        if (wordwrap) {
          $("#answer").append(`<div class="word d-flex"></div>`);
        }
      }

      $("#answer").show();
      $("#controls").hide();
    } 
    else {
      finished = true;
      showResults();
    }
  }


  $("#start").on('click', ()=>{
    start();
  });

  $("#controls").show();


// keyboard input //////////////////////////////////////////////////////////////
  let fired = false;

  backspace = ()=>{
    if(place > 0){
      place--;
      guess = guess.slice(0, -1);
      $("#place"+place).text('_');
    }
  }

  $(window).on('keydown', function(e){
    if (e.key === fired && e.key !== ' ') return;
    if (e.key === ' ') e.preventDefault();

    if(e.key.length == 1 && e.key !== fired && letters.includes(e.key)){
      if (finished) return;
      fired = e.key;
      if (place < item.word.length){
        if (e.key == item.word[place]){
          $("#place"+place).text(e.key).removeClass('alert-danger').addClass('alert-primary');
        }
        else {
          $("#place"+place).text(e.key).addClass('alert-danger');
          misses += 1;
        }
        place++;
        guess += e.key;

        if (guess == item.word){
          totalLetters += item.word.length;
          score += 1;
          // spaces and hyphens mean more words should be counted
          let spaces = item.word.match(/[- ]/g);
          if (spaces) score += spaces.length;

          resetAnswer();
        }
      }
    }
    else if(e.key == 'Backspace'){
      backspace();
    }
  });


  $(window).on('keyup', function(e){
    fired = false;
  });


});
</script>

<%- include('../foot'); -%><!-- FOOT INCLUDES SCRIPTS AND </body> -->
