<%- include('head'); -%>
<body>

  <div class="container mt-3" style="min-height:100vh;">
  <div class="row">

    <div class="col">
      <div class="rounded-3 border shadow p-3">

        <strong class="text-primary h3">FLASH</strong>
        <button class="btn btn-sm btn-outline-info mb-2" 
                data-bs-toggle="modal" data-bs-target="#flash_modal">
          <i class="material-icons md-small">info</i>
        </button>
        <form action="flash" method="GET" class="form-group d-flex mb-0 mx-0">
          <select class="form-control" name="deck" required>
<% for (let d of Object.keys(decks) ) { %>
            <option value="<%- d %>"><%- d %></option>
<% } %>
          </select>
          <button type="submit" class="btn btn-primary">Start</button>
        </form>
      </div>
    </div>


    <div class="col">
      <div class="rounded-3 border shadow p-3">

        <strong class="text-primary h3">Q & A</strong>
        <button class="btn btn-sm btn-outline-info mb-2" 
                data-bs-toggle="modal" data-bs-target="#diagrams_modal">
          <i class="material-icons md-small">info</i>
        </button>
        <form action="diagram" method="GET" class="form-group d-flex mb-0 mx-0">
          <select class="form-control" name="diagram" required>
<% for (let d of diagrams ) { %>
            <option value="<%- d %>"><%- d %></option>
<% } %>
          </select>
          <button type="submit" class="btn btn-primary">Start</button>
        </form>
      </div>
    </div>


    <div class="col">
      <div class="rounded-3 border shadow p-3">
        <strong class="text-primary h3">MATCH</strong>
        <button class="btn btn-sm btn-outline-info mb-2" 
                data-bs-toggle="modal" data-bs-target="#match_modal">
          <i class="material-icons md-small">info</i>
        </button>
        <form action="match" method="GET" class="form-group d-flex mb-0 mx-0">
          <select class="form-control" name="deck" required>
            <option value="" disabled selected>Choose a Set</option>
            <option value="1~4">1~4</option>
            <option value="5~10">5~10</option>
            <option value="animals 1">animals 1</option>
            <option value="animals 2">animals 2</option>
            <option value="letters 1">letters 1</option>
            <option value="letters 2">letters 2</option>
            <option value="shapes">shapes</option>
            <option value="weekdays">weekdays</option>
          </select>
          <button type="submit" class="btn btn-primary">Start</button>
        </form>
      </div>
    </div>

    <div class="col">
      <div class="rounded-3 border shadow p-3">
        <strong class="text-primary h3">WORDLE</strong>
        <button class="btn btn-sm btn-outline-info mb-2" 
                data-bs-toggle="modal" data-bs-target="#wordle_modal">
          <i class="material-icons md-small">info</i>
        </button>
        <form action="wordle" method="GET" class="form-group d-flex mb-0 mx-0">
          <select id="wordledeck" class="form-control" name="tag" required>
            <option value="" disabled selected>Choose a Set</option>
<% for (let t of Object.keys(tags) ) { %>
            <option value="<%- t %>"><%- `${t} (${tags[t].length})` %></option>
<% } %>
          </select>
          <button type="submit" class="btn btn-primary">Start</button>
        </form>
      </div>
    </div>

  </div>
  <div class="row">

    <div class="col">
      <div class="rounded-3 border shadow p-3 d-flex">
        <strong class="text-primary h3">TYPE</strong>
        <button class="btn btn-sm btn-outline-info mb-2" 
                data-bs-toggle="modal" data-bs-target="#writing_modal">
          <i class="material-icons md-small">info</i>
        </button>
        <form action="type" method="GET" class="d-flex justify-content-end w-100 mb-2">
          <button type="submit" class="btn btn-primary">Start</button>
        </form>
      </div>
    </div>

    <div class="col">
      <div class="rounded-3 border shadow p-3 d-flex">
        <strong class="text-primary h3">WRITE</strong>
        <button class="btn btn-sm btn-outline-info mb-2" 
                data-bs-toggle="modal" data-bs-target="#writing_modal">
          <i class="material-icons md-small">info</i>
        </button>
        <form action="write" method="GET" class="d-flex justify-content-end w-100 mb-2">
          <button type="submit" class="btn btn-primary">Start</button>
        </form>
      </div>
    </div>

  </div>
  <div class="row">

    <div class="col-12">
      <div class="rounded-3 border shadow p-3">
        <strong class="text-primary h3">BINGO</strong>
        <button class="btn btn-sm btn-outline-info mb-2" 
                data-bs-toggle="modal" data-bs-target="#bingo_modal">
          <i class="material-icons md-small">info</i>
        </button>

        <form action="bingo" method="GET" class="form-group mb-0 mx-0">
          <input id="bingoWords" name="words" type="hidden">
          <div class="form-check">
            <input id="hasAllTags" class="form-check-input" type="radio" name="type" value="all" checked>
            <label class="form-check-label" for="hasAllTags">Has ALL Tags</label>
          </div>
          <div class="form-check">
            <input id="hasAnyTag" class="form-check-input" type="radio" name="type" value="any">
            <label class="form-check-label" for="hasAnyTag">Has ANY Tag</label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="imgOnly" id="imgOnly">
            <label class="form-check-label me-3" for="imgOnly">Require Images</label>
          </div>

          <div id="bingoTags" class="d-flex flex-wrap"></div>

          <button type="submit" class="btn btn-primary">Start</button>
          <div id="numOfBingoItems"></div>
        </form>
      </div>
    </div>

  </div>
</div>

<%- include('modals'); -%>

<script>
$(function(){
  $("#sharetab").addClass("active");

  let tags = <%- JSON.stringify(tags) %>;
  let items = <%- JSON.stringify(items) %>;

  for (let t in tags) {
    $("#bingoTags").append(`<div class="form-check">
      <input class="form-check-input" type="checkbox" name="tags" id="tag_${t}" value="${t}" aria-label="bingo tags">
      <label class="form-check-label me-3" style="margin-left:-5px;" for="tag_${t}">${t}</label>
    </div>`);
  }

  let words = [];

  function updateWordList(){
    words = [];
    let imgOnly = $("#imgOnly").prop("checked");
    let checkedTags = $("#bingoTags input:checked").toArray().map(e => e.value);

    if (imgOnly) {
      if ($("#hasAllTags").is(":checked")) {
        for (let i in items) {
          let hasAllTags = true;
          for (let j of checkedTags) {
            if (!items[i].includes(j)) {
              hasAllTags = false;
              break;
            }
          }
          if (hasAllTags) {
            words.push(i);
          }
        }
      } else if ($("#hasAnyTag").is(":checked")) {
        for (let i in items) {
          for (let j of checkedTags) {
            if (items[i].includes(j)) {
              words.push(i);
              break;
            }
          }
        }
      }
    } 
    else {
      if ($("#hasAllTags").is(":checked")) {
        let shortestTag = '';
        let shortestTagLength = 0;
        for (let i of checkedTags) {
          let tagLength = tags[i].length;
          if (shortestTagLength == 0 || tagLength < shortestTagLength) {
            shortestTag = i;
            shortestTagLength = tagLength;
          }
        }
        if (shortestTag){
          for (let i of tags[shortestTag]){
            let hasAllTags = true;
            for (let t of checkedTags) {
              if (i != shortestTag && !tags[t].includes(i)) {
                hasAllTags = false;
                break;
              }
            }
            if (hasAllTags) {
              words.push(i);
            }
          }
        }
      }
      else if ($("#hasAnyTag").is(":checked")) {
        for (let i of checkedTags) {
          for (let w of tags[i]){
            if (!words.includes(w)) {
              words.push(w);
            }
          }
        }
      }
    }
    $("#bingoWords").val(JSON.stringify(words));
    $("#numOfBingoItems").text(`(${words.length}) ${words}`);
  }

  $("#bingoTags input").on('change', ()=>{
    updateWordList();
  });

  $("#hasAllTags").on('change', ()=>{
    updateWordList();
  });

  $("#hasAnyTag").on('change', ()=>{
    updateWordList();
  });

  $("#imgOnly").on('change', ()=>{
    updateWordList();
  });

});
</script>

<%- include('foot'); -%><!-- FOOT INCLUDES SCRIPTS AND </body> -->
