<%- include('../head'); -%>
<%- include('navbar.ejs') -%>


<div class="container-fluid pb-3">
  <div class="row mb-3">
    <div class="col g-0">
      <%- include('../menu/select_NH.ejs') -%>
    </div>
  </div>

  <hr/>

  <div class="row pb-3">
    <div class="col">
      <%- include('../menu/menu_spell.ejs') -%>
    </div>
    <div class="col">
      <%- include('../menu/menu_type.ejs') -%>
    </div>
    <div class="col"></div>
  </div>
      
</div>



<script>
$(function(){
  $(`#NH-tab`).addClass("active");
});
</script>

<%- include('../foot.ejs') -%>