<%- include('../head') -%>
<%- include('navbar.ejs') -%>


<div class="container-fluid pb-3">
  <div class="row mb-3">
    <div class="col g-0">
      <%- include('../menu/select_NH.ejs') -%>
    </div>
  </div>

  <hr/>

  <div class="row pb-3">
    <div class="col border">
      <%- include('../menu/item_spell.ejs') -%>
    </div>
    <div class="col border">
      <%- include('../menu/item_type.ejs') -%>
    </div>
    <div class="col"></div>
  </div>
      
</div>

<%- include('../dictionary.ejs') -%>


<script>
  // Initialize global variables
  window.deck = [];
  window.local = [];
  window.deckType = 'NH';

  // Define global functions
  addWords = (list) => {
    for (let l of list) {
      if (!window.deck.includes(l.id)) {
        window.deck.push(l.id);
        window.local.push(l);
      }
    }
  }

  removeWords = (list) => {
    for (let i of list) {
      window.deck = window.deck.filter(d => d !== i && d !== i.id && d !== i.word);
      window.local = window.local.filter(l => l.id !== i.id && l.id !== i.word);
    }
  }

$(function(){
  $(`#NH-tab`).addClass("active");

  $(".menuitem").on('submit', (e)=>{
    e.preventDefault();
    if (!window.deck || window.deck.length == 0) {
      alert("<%- __('pleaseSelect') %>");
    }
    else {
      $(e.target).find("input[name='deck']").val(JSON.stringify(window.deck));
      $(e.target).find("input[name='deckType']").val(window.deckType);
      $(e.target).off('submit').submit();
    }
  });

});
</script>

<%- include('../foot.ejs') -%>