<%- include('../head') -%>
<%- include('navbar.ejs') -%>


<div class="container-fluid pb-3">
  <div class="row mb-3">
    <div class="col g-0">
      <%- include('../menu/select_NH.ejs') -%>
    </div>
  </div>

  <hr/>

  <div class="row pb-3">
    <div class="col menuitemwrapper">
      <%- include('../menu/item_spell.ejs') -%>
    </div>
    <div class="col menuitemwrapper">
      <%- include('../menu/item_type.ejs') -%>
    </div>
    <div class="col menuitemwrapper">
      <%- include('../menu/item_slots.ejs') -%>
    </div>
  </div>
      
</div>

<%- include('../dictionary.ejs') -%>


<script>
$(function(){
  $(`#NH-tab`).addClass("active");

  // Use a more specific event handler to avoid conflicts
  $(".menuitem").off('submit.nh').on('submit.nh', (e)=>{
    e.preventDefault();
    
    if (!window.deck || window.deck.length == 0) {
      alert("<%- __('pleaseSelect') %>");
    }
    else {
      const $form = $(e.target);
      $form.find("input[name='deck']").val(JSON.stringify(window.deck));
      $form.find("input[name='deckType']").val(window.deckType);
      
      // Create a temporary form to submit without removing our event handler
      const tempForm = $form.clone();
      tempForm.hide().appendTo('body');
      tempForm[0].submit();
      tempForm.remove();
    }
  });

});
</script>

<%- include('../foot.ejs') -%>