<%- include('../head') -%>
<%- include('navbar.ejs') -%>


<div class="container-fluid pb-3">
  <div class="row mb-3">
    <div class="col g-0">
      <%- include('../menu/select_NH.ejs') -%>
    </div>
  </div>

  <hr/>

  <div class="row pb-3">
    <div class="col">
      <%- include('../menu/item_spell.ejs') -%>
    </div>
    <div class="col">
      <%- include('../menu/item_type.ejs') -%>
    </div>
    <div class="col"></div>
  </div>
      
</div>

<%- include('../dictionary.ejs') -%>


<script>
$(function(){
  $(`#NH-tab`).addClass("active");

  addWords = (list) => {
    for (let l of list) {
      if (!window.deck.includes(l.id)) {
        window.deck.push(l.id);
        window.local.push(l);
      }
    }
    console.log(window.deck);
  }


  removeWords = (list) => {
    for (let i of list) {
      window.deck = window.deck.filter(d => d !== i && d !== i.id && d !== i.word);
      window.local = window.local.filter(l => l.id !== i.id && l.id !== i.word);
    }
  }

});
</script>

<%- include('../foot.ejs') -%>