<%- include('../head') -%>
<%- include('navbar.ejs') -%>


<div class="container-fluid pb-3">
  <div class="row mb-3">
    <div class="col g-0">
      <%- include('../menu/select_NH.ejs') -%>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="col menuitemwrapper">
      <%- include('../menu/item_spell.ejs') -%>
    </div>
    <div class="col menuitemwrapper">
      <%- include('../menu/item_type.ejs') -%>
    </div>
    <div class="col menuitemwrapper">
      <%- include('../menu/item_twins.ejs') -%>
    </div>
  </div>


  <div class="row pb-3">
    <div class="col menuitemwrapper">
      <%- include('../menu/item_slots.ejs') -%>
    </div>
    <div class="col menuitemwrapper border-0">
    </div>
    <div class="col menuitemwrapper border-0">
    </div>
  </div>


</div>

<%- include('../dictionary.ejs') -%>


<script>
$(function(){
  var deckType = 'NH';
  window.deck = [];
  window.local = [];

  $(`#NH-tab`).addClass("active");

  $(".menuitem").on('submit', (e)=>{
    e.preventDefault();
    
    if (!window.deck || window.deck.length == 0) {
      alert("<%- __('pleaseSelect') %>");
    }
    else {
      $(e.target).find("input[name='deck']").val(JSON.stringify(window.deck));
      $(e.target).find("input[name='deckType']").val(deckType);
      const formDataArray = $(e.target).serializeArray();
      e.target.submit();
    }
  });

});
</script>

<%- include('../foot.ejs') -%>