<body>
<div class="container-fluid">
  <div class="row">
    <div class="col">

      <div class="rounded-3 border p-3">
        <strong class="text-primary h3">FLASH</strong>
        <button class="btn btn-sm btn-outline-info mb-2" 
                data-bs-toggle="modal" data-bs-target="#flash_modal">
          <i class="material-icons md-small">info</i>
        </button>
        <form action="flash" method="GET" class="form-group d-flex mb-0 mx-0">
          <select class="form-control" name="deck" required>
<% for (let d of Object.keys(decks) ) { %>
            <option value="<%- d %>"><%- d %></option>
<% } %>
          </select>
          <button type="submit" class="btn btn-primary">Start</button>
        </form>
      </div>

    </div>
    <div class="col">

      <div class="rounded-3 border p-3">
        <strong class="text-primary h3">Q & A</strong>
        <button class="btn btn-sm btn-outline-info mb-2" 
                data-bs-toggle="modal" data-bs-target="#diagrams_modal">
          <i class="material-icons md-small">info</i>
        </button>
        <form action="diagram" method="GET" class="form-group d-flex mb-0 mx-0">
          <select class="form-control" name="diagram" required>
<% for (let d of diagrams ) { %>
            <option value="<%- d %>"><%- d %></option>
<% } %>
          </select>
          <button type="submit" class="btn btn-primary">Start</button>
        </form>
      </div>

    </div>
    <div class="col">

      <div class="rounded-3 border p-3">
        <strong class="text-primary h3">MATCH</strong>
        <button class="btn btn-sm btn-outline-info mb-2" 
                data-bs-toggle="modal" data-bs-target="#match_modal">
          <i class="material-icons md-small">info</i>
        </button>
        <form action="match" method="GET" class="form-group d-flex mb-0 mx-0">
          <select class="form-control" name="deck" required>
            <option value="" disabled selected>Choose a Set</option>
            <option value="1~4">1~4</option>
            <option value="5~10">5~10</option>
            <option value="animals 1">animals 1</option>
            <option value="animals 2">animals 2</option>
            <option value="letters 1">letters 1</option>
            <option value="letters 2">letters 2</option>
            <option value="shapes">shapes</option>
            <option value="weekdays">weekdays</option>
          </select>
          <button type="submit" class="btn btn-primary">Start</button>
        </form>
      </div>

    </div>

  </div>
  <div class="row">
  
    <div class="col">

      <div class="rounded-3 border p-3">
        <strong class="text-primary h3">WORDLE</strong>
        <button class="btn btn-sm btn-outline-info mb-2" 
                data-bs-toggle="modal" data-bs-target="#wordle_modal">
          <i class="material-icons md-small">info</i>
        </button>
        <form action="wordle" method="GET" class="form-group d-flex mb-0 mx-0">
          <select id="wordledeck" class="form-control" name="tag" required>
            <option value="" disabled selected>Choose a Set</option>
<% for (let t of Object.keys(tags) ) { %>
            <option value="<%- t %>"><%- `${t} (${tags[t].length})` %></option>
<% } %>
          </select>
          <button type="submit" class="btn btn-primary">Start</button>
        </form>
      </div>

    </div>
    <div class="col">

      <div class="rounded-3 border p-3 d-flex">
        <strong class="text-primary h3">TYPE</strong>
        <button class="btn btn-sm btn-outline-info mb-2" 
                data-bs-toggle="modal" data-bs-target="#writing_modal">
          <i class="material-icons md-small">info</i>
        </button>
        <form action="type" method="GET" class="d-flex justify-content-end w-100 mb-2">
          <button type="submit" class="btn btn-primary">Start</button>
        </form>
      </div>

    </div>
    <div class="col">

      <div class="rounded-3 border p-3 d-flex">
        <strong class="text-primary h3">WRITE</strong>
        <button class="btn btn-sm btn-outline-info mb-2" 
                data-bs-toggle="modal" data-bs-target="#writing_modal">
          <i class="material-icons md-small">info</i>
        </button>
        <form action="write" method="GET" class="d-flex justify-content-end w-100 mb-2">
          <button type="submit" class="btn btn-primary">Start</button>
        </form>
      </div>

    </div>

  </div>
  <div class="row">

    <div class="col">

      <div class="rounded-3 border p-3 d-flex">
        <strong class="text-primary h3">BINGO</strong>
        <button class="btn btn-sm btn-outline-info mb-2" 
                data-bs-toggle="modal" data-bs-target="#bingo_modal">
          <i class="material-icons md-small">info</i>
        </button>

        <form id="bingo" action="bingo" method="GET" class="d-flex justify-content-end w-100 mb-2">
          <input type="hidden" name="words" value="">
          <button id="bingoButton" class="btn btn-primary">Start</button>
        </form>
      </div>

    </div>
    <div class="col">

      <div class="rounded-3 border p-3 d-flex">
        <strong class="text-primary h3">RECALL</strong>
        <button class="btn btn-sm btn-outline-info mb-2" 
                data-bs-toggle="modal" data-bs-target="#recall_modal">
          <i class="material-icons md-small">info</i>
        </button>

        <form id="recall" action="recall" method="GET" class="d-flex justify-content-end w-100 mb-2">
          <input type="hidden" name="words" value="">
          <button id="recallButton" class="btn btn-primary">Start</button>
        </form>
      </div>

    </div>

  </div>
</div>

<script>
$(function(){

  $("#bingoButton").on('click', ()=>{
    $("#bingo input[name='words']").val(JSON.stringify(words));
    $("#bingo").submit();
  });

  $("#recallButton").on('click', ()=>{
    $("#recall input[name='words']").val(JSON.stringify(words));
    $("#recall").submit();
  });

});
</script>
