<span class="ms-3"><%- __('LetsTry.vocab') %></span>

<div id="themes" class="d-flex flex-wrap">
<% for (let t in LT_vocab) { %>
  <div class="rounded-3 p-1 d-flex" style="margin:1px;">

    <div class="form-check">
      <input aria-label="themes" class="form-check-input" type="checkbox" id="<%- t %>" name="themes" value="<%- t %>">
      <label class="form-check-label me-3" style="margin-left:-5px;" for="<%- t %>"><%- __(t) %> (<%- Object.keys(LT_vocab[t]).length %>)</label>
    </div>

  </div>
<% } %>
</div>


<script>
$(function(){
  let LT_vocab = <%- JSON.stringify(LT_vocab) %>;
  window.deckType = 'LT';
  window.deck = [];
  window.local = [];


  $("#themes input").on('change', function(){
    let list = [];
    let p = $(this).parent().parent().attr('id');
    let theme = $(this).val();

    for (let word in LT_vocab[theme]) {
      let id = LT_vocab[theme][word];
      list.push({word, id});
    }

    if ($(this).is(':checked')) {
      addWords(list);
    } else {
      removeWords(list);
    }
  });


  addWords = (list) => {
    for (let l of list) {
      // add word if the id doesn't exist in window.deck
      if (!window.deck.includes(l.id)) {
        window.deck.push(l.id);
        window.local.push(l);
        $("#list").append(`
          <div class="alert-primary rounded-3 mb-1 me-1 ps-1 d-flex justify-content-between">
            <div>${l.word}</div>
            <div id="${l.word.split(' ').join('_')}" data-value="${l.id}" class="list btn btn-close" style="font-size:10px;"></div>
          </div>
        `);
      }
    }

    $(".list").on('click', function(){
      let val = $(this).data('value');
      window.deck = window.deck.filter(e => e !== val);
      window.local = window.local.filter(e => e.id !== val);
      $(this).parent().remove();
      $("#numOfItems").html(`&nbsp;(${window.deck.length})`);
    });

    $("#numOfItems").html(`&nbsp;(${window.deck.length})`);
  }


  removeWords = (list) => {
    for (let l of list) {
      window.deck = window.deck.filter(e => e !== l.id);
      window.local = window.local.filter(e => e.id !== l.id);

      $(`#${l.word.split(' ').join('_')}`).parent().remove();

    }
    $("#numOfItems").html(`&nbsp;(${window.deck.length})`);
  }

});
</script>
