<style>
  .vertical-label {
      text-align: right;
      font-weight: bold;
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      white-space: nowrap;
      padding: 0.5rem 0;
    }
</style>

<span class="ms-3"><%- __('NewHorizon.vocab') %></span>


<div id="themes" class="d-flex flex-wrap">
<% for (let p in NH_vocab) { let color = ''; for (let c in colors) { if (colors[c].includes(p)) {color = c; break;}} %>
  <% if (p == '+'){ %>
  <div id="deleteme" class="flex-grow-1">.</div>
  <div id="growme" class="rounded-3 p-1 flex-grow-1" style="margin:1px;background-color:lightgray;">
    
    <div id="<%- p %>" class="d-flex flex-wrap">

    <% for (let t in NH_vocab[p]) { %>
      <% let id = t.replace(/ /g, "_"); %>
      <div class="form-check" style="width:fit-content;">
        <input id="theme_<%- id %>" name="themes" aria-label="themes" class="form-check-input" type="checkbox" value="<%- t %>">
        <label class="form-check-label me-3" style="margin-left:-5px;" for="theme_<%- id %>">
          <%- __(t) %> <u><%- Object.keys(NH_vocab[p][t]).length %></u>
        </label>
      </div>
    <% } %>
    </div>

  </div>
  <% } else { %>
  <div class="rounded-3 p-1 d-flex" style="margin:1px;background-color:<%- color %>">
    <div class="vertical-label"><%- p.replace(/_/g, ' ') %></div>
    <div id="<%- p %>">

    <% for (let t in NH_vocab[p]) { %>
      <% let id = t.replace(/ /g, "_"); %>
      <div class="form-check">
        <input id="theme_<%- id %>" name="themes" aria-label="themes" class="form-check-input" type="checkbox" value="<%- t %>">
        <label class="form-check-label me-3" style="margin-left:-5px;" for="theme_<%- id %>"><%- __(t) %> <u><%- Object.keys(NH_vocab[p][t]).length %></u></label>
      </div>
    <% } %>
    </div>
  </div>
  <% } %>
<% } %>
</div>


<script>
  window.deckType = 'NH'; // define before reading local storage
  // I could probably populate the menu here using javascript then it wouldn't
  // conflict with jquery handlers that are set after the page is loaded.
$(function(){
  // But I only need that last div to be flex-grow-1 AND d-flex flex-wrap. So...
  // Set #growme to the width of #deletme. Then hide #deleteme. (also on resize)
  $("#growme").width($("#deleteme").width() -20);
  $("#deleteme").hide();

  $(window).on('resize', function(){
    $("#deleteme").show();
    $("#growme").width($("#deleteme").width() -20);
    $("#deleteme").hide();
  });


  let NH_vocab = <%- JSON.stringify(NH_vocab) %>;
  window.deck = [];
  window.local= [];

  
  $("#themes input").on('change', function(){
    let list = [];
    let p = $(this).parent().parent().attr('id');
    let theme = $(this).val();

    for (let word in NH_vocab[p][theme]) {
      let id = NH_vocab[p][theme][word];
      list.push({word, id});
    }

    if ($(this).is(':checked')) {
      addWords(list);
    } else {
      removeWords(list);
    }
  });

  $(".menuitem").on('submit', (e)=>{
    e.preventDefault();
    if (!window.deck || window.deck.length == 0) {
      alert("<%- __('pleaseSelect') %>");
    }
    else {
      $(e.target).find("input[name='deck']").val(JSON.stringify(window.deck));
      $(e.target).find("input[name='deckType']").val(window.deckType);
      $(e.target).off('submit').submit();
    }
  });

});
</script>
