<span class="ms-3"><%- __('LetsTry.vocab') %></span>

<div id="themes" class="d-flex flex-wrap">
<% for (let t in LT_vocab) { %>
  <div class="rounded-3 p-1 d-flex" style="margin:1px;">

    <div class="form-check">
      <input aria-label="themes" class="form-check-input" type="checkbox" id="<%- t %>" name="themes" value="<%- t %>">
      <label class="form-check-label me-3" style="margin-left:-5px;" for="<%- t %>"><%- __(t) %> (<%- Object.keys(LT_vocab[t]).length %>)</label>
    </div>

  </div>
<% } %>
</div>


<script>
$(function(){
  let LT_vocab = <%- JSON.stringify(LT_vocab) %>;
  window.deckType = 'LT';
  window.deck = [];
  window.local = [];

  function updateWordList(){
    window.deck = [];
    $("#list").empty();

    let checkedThemes = $("#themes input:checked").toArray().map(e => e.value);
    checkedThemes = checkedThemes.filter(e => e);  // remove empty strings

    for (let theme of checkedThemes) {

      for (let word in LT_vocab[theme]) {
        let id = LT_vocab[theme][word];
        window.deck.push(id);
        window.local.push({word, id})

        $("#list").append(`
          <div class="alert-primary rounded-3 mb-1 me-1 ps-1 d-flex justify-content-between">
            <div>${word}</div>
            <div id="${word}" data-value="${id}" class="list btn btn-close" style="font-size:10px;"></div>
          </div>`);
      }
    }

    $(".list").on('click', function(){
      let val = $(this).data('value');
      window.deck = window.deck.filter(e => e !== val);
      $(this).parent().remove();
      $("#numOfItems").html(`&nbsp;(${window.deck.length})`);
      console.log(window.deck);
    });
console.log(window.deck);
    $("#numOfItems").html(`&nbsp;(${window.deck.length})`);
  }


  $("#themes input").on('change', ()=>{
    updateWordList();
  });

});
</script>
