<style>
  .vertical-label {
      text-align: right;
      font-weight: bold;
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      white-space: nowrap;
      padding: 0.5rem 0;
    }
</style>

<div class="container-fluid pb-3">
  <div class="row">

    <div class="col-10"><%- __('themes') %></div>

    <div class="col-2 d-flex justify-content-between">
      <div><%- __('list') %><span id="numOfItems"> (0)</span></div>
      <div class="small text-danger"><%- __('editThisLast') %></div>
    </div>

  </div>
  <div class="row">

    <div class="col-10">
      <div id="themes" class="d-flex flex-wrap">
<% for (let p in NH_vocab) { let color = ''; for (let c in colors) { if (colors[c].includes(p)) { color = c; break;}} %>
        <div class="rounded-3 p-1 d-flex" style="margin:1px;background-color:<%- color %>">
          <div class="vertical-label"><%- p.replace(/_/g, ' ') %></div>
          <div id="<%- p %>" style="width:170px;">

  <% for (let t in NH_vocab[p]) { let id = t.replace(/ /g, "_"); %>
            <div class="form-check">
              <input aria-label="themes" class="form-check-input" type="checkbox" id="<%- id %>" name="themes" value="<%- t %>">
              <label class="form-check-label me-3" style="margin-left:-5px;" for="<%- id %>"><%- __(t) %> (<%- Object.keys(NH_vocab[p][t]).length %>)</label>
            </div>
  <% } %>
          </div>
        </div>
<% } %>
      </div>
    </div>

    <div class="col-2" style="position:relative;">
      <div id="list" class="d-flex flex-wrap" style="position:absolute;max-height:100%;overflow-y:scroll;"></div>
    </div>

  </div>

</div>


<script>
$(function(){
  let NH_vocab = <%- JSON.stringify(NH_vocab) %>;
  window.deckType = 'NH';
  window.deck = [];

  function updateWordList(){
    window.deck = [];
    $("#list").empty();

    let checkedThemes = $("#themes input:checked").toArray().map(e => e.value);
    checkedThemes = checkedThemes.filter(e => e);  // remove empty strings

    for (let theme of checkedThemes) {
      let p = $(`input:checked[value="${theme}"]`).parent().parent().attr('id');

      for (let word in NH_vocab[p][theme]) {
        let addme = NH_vocab[p][theme][word];
        addme["name"] = word;
        window.deck.push(addme);
        $("#list").append(`
          <div class="alert-primary rounded-3 mb-1 me-1 ps-1 d-flex justify-content-between">
            <div>${word}</div>
            <div id="${word}" class="list btn btn-close" style="font-size:10px;"></div>
          </div>
        `);
      }
    }

    $(".list").on('click', function(){
      let word = $(this).attr('id');
      window.deck = window.deck.filter(e => e.name !== word);
      $(this).parent().remove();
      $("#numOfItems").html(`&nbsp;(${window.deck.length})`);
    });

    $("#numOfItems").html(`&nbsp;(${window.deck.length})`);
  }


  $("#themes input").on('change', ()=>{
    updateWordList();
  });

});
</script>
