<%- include('../head.ejs') -%>
<%- include('navbar.ejs') -%>
<div class="container g-0">
  <div class="row">
    <div class="col-10">
      <div class="form-check mx-1">
        <input id="hasAllTags" class="form-check-input" type="radio" name="type" value="all" checked>
        <label class="form-check-label" for="hasAllTags">Has ALL Tags</label>
      </div>
      <div class="form-check mx-1">
        <input id="hasAnyTag" class="form-check-input" type="radio" name="type" value="any">
        <label class="form-check-label" for="hasAnyTag">Has ANY Tag</label>
      </div>
      <hr>
      TAGS
      <div id="tags" class="d-flex flex-wrap"></div>
    </div>

    <div class="col-2">
      LIST<span id="numOfItems"></span>
      <textarea id="list" class="form-control" style="height: 90%;"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="row">

        <div class="col">
          <%- include('../menu/menu_flash.ejs') -%>
        </div>
      
        <div class="col">
          <%- include('../menu/menu_match.ejs') -%>
        </div>
      
        <div class="col">
          <%- include('../menu/menu_recall.ejs') -%>
        </div>
      
      </div>
      <div class="row pt-3">
      
        <div class="col">
          <%- include('../menu/menu_bingo.ejs') -%>
        </div>
      
        <div class="col">
          <%- include('../menu/menu_wordle.ejs') -%>
        </div>
      
        <div class="col">
          <%- include('../menu/menu_reveal.ejs') -%>
        </div>
      
      </div>
    </div>
  </div>
</div>

<script src="/script.js"></script>

<script>
$(function(){
  $(`#images-tab`).addClass("active");
  window.deckType = "images";

  let tags = <%- JSON.stringify(tags) %>;
  let items = <%- JSON.stringify(items) %>;

  for (let t in tags) {
    $("#tags").append(`<div class="form-check">
      <input class="form-check-input" type="checkbox" name="tags" id="tag_${t}" value="${t}" aria-label="tags">
      <label class="form-check-label me-3" style="margin-left:-5px;" for="tag_${t}">${t} (${tags[t].length})</label>
    </div>`);
  }

  $("#list").on('input', ()=>{
    words = $("#list").val().split(',');
    $("#numOfItems").html(`&nbsp;&nbsp;&nbsp;(${words.length})`);
    for (let i in words) {
      words[i] = words[i].trim().replace(/\s/g, '_');
    }
    window.setName = JSON.stringify(words);
  });


  function updateWordList(){
    words = [];
    let checkedTags = $("#tags input:checked").toArray().map(e => e.value);

    if ($("#hasAllTags").is(":checked")) {
      let shortestTag = '';
      let shortestTagLength = 0;
      for (let i of checkedTags) {
        let tagLength = tags[i].length;
        if (shortestTagLength == 0 || tagLength < shortestTagLength) {
          shortestTag = i;
          shortestTagLength = tagLength;
        }
      }
      if (shortestTag){
        for (let i of tags[shortestTag]){
          let hasAllTags = true;
          for (let t of checkedTags) {
            if (i != shortestTag && !tags[t].includes(i)) {
              hasAllTags = false;
              break;
            }
          }
          if (hasAllTags) {
            words.push(i);
          }
        }
      }
    }
    else if ($("#hasAnyTag").is(":checked")) {
      for (let i of checkedTags) {
        for (let w of tags[i]){
          if (!words.includes(w)) {
            words.push(w);
          }
        }
      }
    }

    // set the list value to the words array
    $("#list").val(words.join(', '));
    window.setName = JSON.stringify(words);
    $("#numOfItems").html(`&nbsp;&nbsp;&nbsp;(${words.length})`);
  }

  $("#tags input").on('change', ()=>{
    updateWordList();
  });

  $("#hasAllTags").on('change', ()=>{
    updateWordList();
  });

  $("#hasAnyTag").on('change', ()=>{
    updateWordList();
  });

});
</script>

<%- include('../foot.ejs') -%>
