<%- include('../head.ejs') -%>
<%- include('navbar.ejs') -%>
<%- include('../menu/select_LT.ejs') -%>

<div class="container-fluid">
  <div class="row pb-3">

    <div class="col">
      <%- include('../menu/menu_flash.ejs') -%>
    </div>
  
    <div class="col">
      <%- include('../menu/menu_match.ejs') -%>
    </div>
  
    <div class="col">
      <%- include('../menu/menu_recall.ejs') -%>
    </div>
  
  </div>
  <div class="row pb-3">
  
    <div class="col">
      <%- include('../menu/menu_bingo.ejs') -%>
    </div>
  
    <div class="col">
      <%- include('../menu/menu_reveal.ejs') -%>
    </div>
  
    <div class="col">
      <%- include('../menu/menu_grid.ejs') -%>
    </div>
  </div>

  <hr>

  <div class="row pb-3">
    <div class="col">
      <%- include('../menu/menu_supplies.ejs') -%>
    </div>

    <div class="col">
      <%- include('../menu/menu_pizza.ejs') -%>
    </div>

    <div class="col">
      <%- include('../menu/menu_parfait.ejs') -%>
    </div>
  
  </div>


<script>
  $(function(){
    $(`#LT-tab`).addClass("active");
    window.deckType = "LT";
  });
</script>

<%- include('../foot.ejs') -%>
