<%- include('../head.ejs') -%>
<%- include('navbar.ejs') -%>

<div class="container-fluid pb-3">
  <div class="row pb-3">
    <div class="col-9">
      <%- include('../menu/select_LT.ejs') -%>
    </div>

    <div class="col-3">
      <%- include('../menu/lists.ejs') -%>
    </div>
  </div>
  <hr />

  <div class="row pb-3">

    <div class="col">
      <%- include('../menu/item_flash.ejs') -%>
    </div>
  
    <div class="col">
      <%- include('../menu/item_match.ejs') -%>
    </div>
  
    <div class="col">
      <%- include('../menu/item_recall.ejs') -%>
    </div>
  
  </div>
  <div class="row pb-3">
  
    <div class="col">
      <%- include('../menu/item_bingo.ejs') -%>
    </div>
  
    <div class="col">
      <%- include('../menu/item_reveal.ejs') -%>
    </div>
  
    <div class="col">
      <%- include('../menu/item_grid.ejs') -%>
    </div>
  </div>
  <div class="row pb-3">
  
    <div class="col">    </div>
  
    <div class="col">    </div>
  
    <div class="col">
      <%- include('../menu/item_cards.ejs') -%>
    </div>
  </div>

  <hr />
  
  <div class="row pb-3">
    <%- include('../menu/menu_3_4.ejs') -%>
  </div>
</div>




<script>
  $(function(){
    $(`#LT-tab`).addClass("active");
  });
</script>

<%- include('../foot.ejs') -%>
