<%- include('../head') -%>


<div id="menu-container" class="d-flex">
  <%- include('navbar') -%>


  <div class="container-fluid pb-3">
    <div class="row">
      <div class="col-4">
        <div class="d-flex mt-1">
          <div class="text-muted">Let's Try VOCABULARY</div>
          <div class="flex-grow-1"><hr/></div>
        </div>
        <%- include('../menu/select_LT') -%>
      </div>

      <div class="col-4 text-center">
        <div class="d-flex mt-1">
          <div class="text-muted">SELECT OR EDIT LISTS</div>
          <div class="flex-grow-1"><hr/></div>
        </div>
        <%- include('../menu/lists') -%>
        <div class="d-flex justify-content-between align-items-center">
          <div><%- __('list') %><span id="numOfItems"> (0)</span></div>
          <button id="clear_list" type="button" class="btn btn-sm btn-outline-danger" style="display:none;">Clear</button>
        </div>
        <div id="list" class="d-flex flex-wrap bg-white border rounded-3"></div>
      </div>
      
      <div class="col-4">
        <div class="d-flex mt-1">
          <div class="text-muted">VOCAB ACTIVITIES</div>
          <div class="flex-grow-1"><hr/></div>
        </div>


        <div class="col menuitemwrapper">
          <%- include('../menu/item_flash') -%>
        </div>
      
        <div class="col menuitemwrapper">
          <%- include('../menu/item_match') -%>
        </div>
      
        <div class="col menuitemwrapper">
          <%- include('../menu/item_recall') -%>
        </div>

        <div class="col menuitemwrapper">
          <%- include('../menu/item_bingo') -%>
        </div>
      
        <div class="col menuitemwrapper">
          <%- include('../menu/item_reveal') -%>
        </div>
      
        <div class="col menuitemwrapper">
          <%- include('../menu/item_grid') -%>
        </div>

        <div class="col menuitemwrapper">
          <%- include('../menu/item_cards') -%>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-6">
        <div class="d-flex align-content-start mt-3">
          <div class="text-muted">OTHER G3 ACTIVITIES</div>
          <div class="flex-grow-1"><hr/></div>
        </div>
      </div>
      <div class="col-6">
        <div class="d-flex align-content-start mt-3">
          <div class="text-muted">OTHER G4 ACTIVITIES</div>
          <div class="flex-grow-1"><hr/></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-2 text-center pt-3">
        <a href="/LT1" class="btn btn-lg p-0">
          <img src="/LT1/assets/images/ico/favicon.ico" alt="Lets Try 1">
        </a>
      </div>
      <div class="col-4">
  <!-- G3 ----------------------------------------------------------------------->
        <a href="https://school.bunkei.co.jp/digikyo/eigo/soragakiabc/practice-type/select-upper" target="blank" class="btn btn-sm btn-primary m-1">
          <strong>SORAGAKI ABC</strong>
        </a>

        <a href="https://altivities.earthiverse.ca/abcrace/" target="blank" class="btn btn-sm btn-primary m-1">
          <strong>ABC RACE</strong>
        </a>

        <a href="https://www.plip-plop-land.com/secretabc" target="blank" class="btn btn-sm btn-primary m-1">
          <strong>SECRET WORD</strong>
        </a>

        <a href="https://www.gamestolearnenglish.com/fast-english/embed.html#a/animals/00010203040506091011121314151617182021222426272829303132" target="blank" class="btn btn-sm btn-primary m-1">
          <strong>ANIMALS 1</strong>
        </a>

        <a href="https://www.gamestolearnenglish.com/fast-vocab/embed.html#a/animals/00010203040506091011121314151617182021222426272829303132" target="blank" class="btn btn-sm btn-primary m-1">
          <strong>ANIMALS 2</strong>
        </a>


      </div>

      <div class="col-2 text-center pt-3">
        <a href="/LT2" class="btn btn-lg p-0">
          <img src="/LT2/assets/images/ico/favicon2.ico" alt="Lets Try 2">
        </a>
      </div>
      <div class="col-4">
          <!-- G4 ----------------------------------------------------------------------->
        <a href="https://school.bunkei.co.jp/digikyo/eigo/soragakiabc/practice-type/select-lower" target="blank" class="btn btn-sm btn-primary m-1">
          <strong>SORAGAKI abc</strong>
        </a>

        <a href="https://altivities.earthiverse.ca/abcrace/" target="blank" class="btn btn-sm btn-primary m-1">
          <strong>abc Race</strong>
        </a>

        <a href="https://www.plip-plop-land.com/alphabetmaze" target="blank" class="btn btn-sm btn-primary m-1">
          <strong>abc MAZE</strong>
        </a>

        <a href="https://www.plip-plop-land.com/secretabc" target="blank" class="btn btn-sm btn-primary m-1">
          <strong>SECRET WORD</strong>
        </a>

        <a href="https://www.gamestolearnenglish.com/fast-english/embed.html#a/clothes/000102030506081011121314151618202327" target="blank" class="btn btn-sm btn-primary m-1">
          <strong>CLOTHES 1</strong>
        </a>

        <a href="https://www.gamestolearnenglish.com/fast-vocab/embed.html#a/clothes/000102030506081011121314151618202327" target="blank" class="btn btn-sm btn-primary m-1">
          <strong>CLOTHES 2</strong>
        </a>
        
        <a href="https://www.gamestolearnenglish.com/fast-english/embed.html#a/stationery/0001030405060708101112131415161718192122" target="blank" class="btn btn-sm btn-primary m-1">
          <strong>SUPPLIES 1</strong>
        </a>

        <a href="https://www.gamestolearnenglish.com/fast-vocab/embed.html#a/stationery/0001030405060708101112131415161718192122" target="blank" class="btn btn-sm btn-primary m-1">
          <strong>SUPPLIES 2</strong>
        </a>

        <a href="http://www.kumamoto-kmm.ed.jp/kyouzai/web/Original-pizza/index.html" target="blank" class="btn btn-sm btn-primary m-1">
          <strong>PIZZA</strong>
        </a>

        <a href="http://www.kumamoto-kmm.ed.jp/kyouzai/web/Original_Parfait/index.html" target="blank" class="btn btn-sm btn-primary m-1">
          <strong>PARFAIT</strong>
        </a>

        <a href="https://www.plip-plop-land.com/gettingaround" target="blank" class="btn btn-sm btn-primary m-1">
          <strong>DIRECTIONS</strong>
        </a>

      </div>
    </div>
    <div class="row">
      <div class="d-flex align-content-start mt-3">
        <div class="text-muted">VIDEOS</div>
        <div class="flex-grow-1"><hr/></div>
      </div>

      <div class="col d-flex flex-wrap align-content-start m-3">
        <iframe width="280" height="158" src="https://www.youtube.com/embed/frN3nvhIHUk?si=PsYU8bWp5paoGqHL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe width="280" height="158" src="https://www.youtube.com/embed/loINl3Ln6Ck?si=M5SbMLgu8Rl5gWlV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe width="280" height="158" src="https://www.youtube.com/embed/Fe9bnYRzFvk?si=Zb7zBaJnB5XfRkEu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe width="280" height="158" src="https://www.youtube.com/embed/-jBfb33_KHU?si=1sauJXsiW_d2Dd4k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe width="280" height="158" src="https://www.youtube.com/embed/WyjZe6lkh7w?si=1TZ0vXAA6NMuJRjj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>

    </div>
  </div>

</div>

<script src="/javascripts/auth_widget.js"></script>
<script src="/javascripts/sync_manager.js"></script>
<script>
$(function(){
  window.deckType = 'LT';
  window.deck = [];
  window.local = [];

  // Initialize auth widget and sync manager
  const authWidget = new AuthWidget('authWidget');
  const syncManager = new SyncManager(authWidget);

  // Make syncManager available globally for lists.ejs
  window.syncManager = syncManager;

  // Initialize sync when authenticated (including on page load)
  authWidget.onAuthChange(async function(authenticated, user) {
    if (authenticated) {
      await syncManager.initSync('LT');
    }
  });

  $(`#LT-tab`).addClass("active");

  function toggleClearListButton() {
    $("#clear_list").toggle((window.deck || []).length > 0);
  }
  window.toggleClearListButton = toggleClearListButton;

  $("#clear_list").on('click', () => {
    window.deck = [];
    window.local = [];
    $("#list").empty();
    $("#numOfItems").html('&nbsp;(0)');
    $("#themes .form-check-input").prop('checked', false);
    toggleClearListButton();
  });

  $(".menuitem").on('submit', (e)=>{
    e.preventDefault();
    
    if (!window.deck || window.deck.length == 0) {
      alert("<%- __('pleaseSelect') %>");
    }
    else {
      $(e.target).find("input[name='deck']").val(JSON.stringify(window.deck));
      $(e.target).find("input[name='deckType']").val(window.deckType);
      if (!$(e.target).find("input[name='teacher']").length) {
        $(e.target).append('<input type="hidden" name="teacher" value="1">');
      }
      e.target.submit();
    }
  });

});
</script>

<%- include('../foot') -%>
