<%- include('../head.ejs') -%>
<%- include('navbar.ejs') -%>

<div class="container-fluid pb-3">
  <div class="row">
    <div class="col-9 g-0">
      <%- include('../menu/select_NH.ejs') -%>
    </div>

    <div class="col-3">
      <%- include('../menu/lists.ejs') -%>
    </div>
  </div>

  <div class="d-flex mt-3">
    <div class="text-muted">VOCAB ACTIVITIES</div>
    <div class="flex-grow-1"><hr/></div>
  </div>

  <div class="row">

    <div class="col menuitemwrapper">
      <%- include('../menu/item_flash.ejs') -%>
    </div>
  
    <div class="col menuitemwrapper">
      <%- include('../menu/item_match.ejs') -%>
    </div>
  
    <div class="col menuitemwrapper">
      <%- include('../menu/item_recall.ejs') -%>
    </div>
  
  </div>
  <div class="row">
  
    <div class="col menuitemwrapper">
      <%- include('../menu/item_bingo.ejs') -%>
    </div>

    <div class="col menuitemwrapper">
      <%- include('../menu/item_reveal.ejs') -%>
    </div>

    <div class="col menuitemwrapper">
      <%- include('../menu/item_grid.ejs') -%>
    </div>
  
  </div>
  <div class="row">

    <div class="col menuitemwrapper">
      <%- include('../menu/item_type.ejs') -%>
    </div>

    <div class="col menuitemwrapper">
      <%- include('../menu/item_spell.ejs') -%>
    </div>
    <div class="col menuitemwrapper">
      <%- include('../menu/item_double.ejs') -%>
    </div>
  </div>

  <div class="row">
    <div class="col menuitemwrapper">
      <%- include('../menu/item_cards.ejs') -%>
    </div>
    <div class="col menuitemwrapper border-0">
    </div>
    <div class="col menuitemwrapper border-0">
    </div>
  </div>

  <div class="d-flex mt-3">
    <div class="text-muted">OTHER ACTIVITIES</div>
    <div class="flex-grow-1"><hr/></div>
  </div>



  <div class="row">
    <div class="col menuitemwrapper">
      <div class="d-flex justify-content-between">
        <div>
          <i class="material-icons text-secondary" 
            style="line-height:1.4rem;font-size:1.4rem;cursor:pointer;" 
            data-bs-toggle="modal" data-bs-target="#restaurant_modal">
            info
          </i>
          <strong class="text-primary fs-5">RESTAURANT</strong>
        </div>
        <div>
          <a href="http://www.kumamoto-kmm.ed.jp/kyouzai/web/Lunch-menu2/index.html" target="blank" class="btn btn-sm btn-primary">
            Start
          </a>
        </div>
      </div>
    </div>
  
  
  <!-- SCHEDULE ----------------------------------------------------------------->
  
    <div class="col menuitemwrapper">
      <div class="d-flex justify-content-between">
        <div>
          <i class="material-icons text-secondary" 
            style="line-height:1.4rem;font-size:1.4rem;cursor:pointer;" 
            data-bs-toggle="modal" data-bs-target="#schedule_modal">
            info
          </i>
          <strong class="text-primary fs-5">SCHEDULE</strong>
        </div>
        <div>
          <a href="http://www.kumamoto-kmm.ed.jp/kyouzai/web/Original_Timetable/index.html" target="blank" class="btn btn-sm btn-primary">
            Start
          </a>
        </div>
      </div>
    </div>
  
  <!-- INTERVIEW -------------------------------------------------------------->
    <div class="col menuitemwrapper">
      <div class="d-flex justify-content-between">
        <div>
          <i class="material-icons text-secondary" 
            style="line-height:1.4rem;font-size:1.4rem;cursor:pointer;" 
            data-bs-toggle="modal" data-bs-target="#interview_modal">
            info
          </i>
          <strong class="fs-5 text-primary">INTERVIEW</strong>
        </div>
        <div>
          <a href="/tools/interview" class="btn btn-sm btn-primary">Start</a>
        </div>
      </div>
    </div>

    <!-- SLOTS ----------------------------------------------------------------->
  
    <div class="col menuitemwrapper">
      <%- include('../menu/item_slots.ejs') -%>
    </div>
  

  </div>

</div>










<div id="restaurant_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <div class="modal-header">
        <h3 class="modal-title">RESTAURANT</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p>Student 1 uses their tablet to take Student 2's order.</p>
        <p>
          S1: What would you like?<br/>
          S2: I'd like a hamburger, please.<br/>
          S1: OK.<br/>
          S2: How much is it?<br/>
          S1: [Clicks "How much?"] It's __________ yen.<br/>
          [Repeat for other items.]
        </p>
        <p>
          S1: __________ yen please.<br/>
          S2: Here you are / go.<br/>
          S1: Thank you and here you are / go.<br/>
          S2: Thank you.
        </p>

          <a href="http://www.kumamoto-kmm.ed.jp/kyouzai/web/tab_menu1.htm#eigo" target="blank">
          http://www.kumamoto-kmm.ed.jp/kyouzai/web/tab_menu1.htm#eigo
        </a>

      </div>
    </div>
  </div>
</div>

<div id="schedule_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <div class="modal-header">
        <h3 class="modal-title">SCHEDULE</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p>Student 1 uses their tablet to make a schedule for Student 2.</p>
        <p>S1: What do you have on Monday?<br/>
            S2: I have math, science, and English.<br/>
            S1: What do you have on Tuesday?<br/>
            S2: I have math, science, and English.<br/>
            .<br/>
            .<br/>
            .<br/>
          </p>

          <a href="http://www.kumamoto-kmm.ed.jp/kyouzai/web/tab_menu1.htm#eigo" target="blank">
          http://www.kumamoto-kmm.ed.jp/kyouzai/web/tab_menu1.htm#eigo
        </a>

      </div>
    </div>
  </div>
</div>


<div id="interview_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h3 class="modal-title">Interview</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p>You can simply display a large visual aid on the screen for practice doing Eiken-style Q&A.</p>
      </div>
    </div>
  </div>
</div>


<script>
$(function(){
  var deckType = 'NH';
  window.deck = [];
  window.local = [];

  $(`#NH-tab`).addClass("active");

  $(".menuitem").on('submit', (e)=>{
    e.preventDefault();
    
    if (!window.deck || window.deck.length == 0) {
      alert("<%- __('pleaseSelect') %>");
    }
    else {
      $(e.target).find("input[name='deck']").val(JSON.stringify(window.deck));
      $(e.target).find("input[name='deckType']").val(deckType);
      e.target.submit();
    }
  });
});

</script>

<%- include('../foot.ejs') -%>
