<%- include('../head.ejs') -%>
<%- include('navbar.ejs') -%>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <%- include('../menu/select_NH.ejs') -%>
    </div>
  </div>

  <div class="row">

    <div class="col">
      <%- include('../menu/menu_flash.ejs') -%>
    </div>
  
    <div class="col">
      <%- include('../menu/menu_match.ejs') -%>
    </div>
  
    <div class="col">
      <%- include('../menu/menu_recall.ejs') -%>
    </div>
  
  </div>
  <div class="row pt-3">
  
    <div class="col">
      <%- include('../menu/menu_bingo.ejs') -%>
    </div>
  
    <div class="col">
      <%- include('../menu/menu_wordle.ejs') -%>
    </div>
  
    <div class="col">
      <%- include('../menu/menu_reveal.ejs') -%>
    </div>
  
  </div>
</div>

<script src="/script.js"></script>

<script>
$(function(){
  $(`#NH-tab`).addClass("active");

  window.deckType = "NH";
  var color = "white";
  var colors = {
  "Orchid" : ["p4_5", "p14_15"],
  "PaleGreen" : ["p6_7", "p12_13", "p26_27", "p30_31"],
  "Gold" : ["p8_9", "p16_17", "p22_23"],
  "Pink" : ["p10_11", "p28_29"],
  "SkyBlue" : ["p18_19"],
  "Salmon" : ["p20_21", "p24_25"],
  }
});
</script>

<%- include('../foot.ejs') -%>
