<%- include('../head.ejs') -%>

<div id="menu-container" class="d-flex">
  <%- include('navbar.ejs') -%>
  
  
  <div class="container-fluid pb-3">
    <div class="row">
      <div class="col-12 d-flex mt-1">
        <div class="text-muted">New Horizon VOCABULARY</div>
        <div class="flex-grow-1"><hr/></div>
      </div>
      <%- include('../menu/select_NH.ejs') -%>
    </div>

    <div class="row">
      <div class="col-4">
        <%- include('../menu/lists.ejs') -%>
      </div>
      <div class="col-8">
        <div><%- __('list') %><span id="numOfItems"> (0)</span></div>
        <div id="list" class="d-flex flex-wrap bg-white border rounded-3"></div>      
      </div>
    </div>

    
    <div class="row">
      <div class="d-flex mt-1">
        <div class="text-muted">VOCAB ACTIVITIES</div>
        <div class="flex-grow-1"><hr/></div>
      </div>

      <div class="col menuitemwrapper">
        <%- include('../menu/item_flash.ejs') -%>
      </div>
    
      <div class="col menuitemwrapper">
        <%- include('../menu/item_match.ejs') -%>
      </div>
    
      <div class="col menuitemwrapper">
        <%- include('../menu/item_recall.ejs') -%>
      </div>
    
    </div>
    <div class="row">
    
      <div class="col menuitemwrapper">
        <%- include('../menu/item_bingo.ejs') -%>
      </div>

      <div class="col menuitemwrapper">
        <%- include('../menu/item_reveal.ejs') -%>
      </div>

      <div class="col menuitemwrapper">
        <%- include('../menu/item_grid.ejs') -%>
      </div>
    
    </div>
    <div class="row">

      <div class="col menuitemwrapper">
        <%- include('../menu/item_type.ejs') -%>
      </div>

      <div class="col menuitemwrapper">
        <%- include('../menu/item_spell.ejs') -%>
      </div>
      <div class="col menuitemwrapper">
        <%- include('../menu/item_double.ejs') -%>
      </div>
    </div>

    <div class="row">
      <div class="col menuitemwrapper">
        <%- include('../menu/item_cards.ejs') -%>
      </div>
      <div class="col menuitemwrapper">
        <%- include('../menu/item_keidoro.ejs') -%>
      </div>
      <div class="col menuitemwrapper">
        <%- include('../menu/item_write.ejs') -%>
      </div>
    </div>

    <div class="d-flex mt-3">
      <div class="text-muted">OTHER ACTIVITIES</div>
      <div class="flex-grow-1"><hr/></div>
    </div>



    <div class="row">
      <div class="col">
        <a href="http://www.kumamoto-kmm.ed.jp/kyouzai/web/Lunch-menu2/index.html" target="blank" class="btn btn-sm btn-primary m-1">
          RESTAURANT
        </a>
        <a href="http://www.kumamoto-kmm.ed.jp/kyouzai/web/Original_Timetable/index.html" target="blank" class="btn btn-sm btn-primary m-1">
          SCHEDULE
        </a>
        <a href="/interview" class="btn btn-sm btn-primary m-1">
          INTERVIEW
        </a>
        <a href="https://www.plip-plop-land.com/gettingaround" target="blank" class="btn btn-sm btn-primary m-1">
          DIRECTIONS
        </a>

      </div>
    
    </div>
  </div>
</div>


<script src="/javascripts/auth_widget.js"></script>
<script src="/javascripts/sync_manager.js"></script>
<script>
$(function(){
  window.deckType = 'NH';
  window.deck = [];
  window.local = [];

  // Initialize auth widget and sync manager
  const authWidget = new AuthWidget('authWidget');
  const syncManager = new SyncManager(authWidget);

  // Make syncManager available globally for lists.ejs
  window.syncManager = syncManager;

  // Initialize sync when authenticated (including on page load)
  authWidget.onAuthChange(async function(authenticated, user) {
    if (authenticated) {
      await syncManager.initSync('NH');
    }
  });

  $(`#NH-tab`).addClass("active");

  $(".menuitem").on('submit', (e)=>{
    e.preventDefault();

    if (!window.deck?.length) {
      alert("<%- __('pleaseSelect') %>");
    }
    else {
      $(e.target).find("input[name='deck']").val(JSON.stringify(window.deck));
      $(e.target).find("input[name='deckType']").val(window.deckType);
      e.target.submit();
    }
  });
});

</script>

<%- include('../foot.ejs') -%>
