<%- include('../head.ejs') -%>
<%- include('navbar.ejs') -%>
<%- include('../menu/select_NH.ejs') -%>

<div class="container-fluid">
  <div class="row pb-3">

    <div class="col">
      <%- include('../menu/menu_flash.ejs') -%>
    </div>
  
    <div class="col">
      <%- include('../menu/menu_match.ejs') -%>
    </div>
  
    <div class="col">
      <%- include('../menu/menu_recall.ejs') -%>
    </div>
  
  </div>
  <div class="row pb-3">
  
    <div class="col">
      <%- include('../menu/menu_bingo.ejs') -%>
    </div>
  
    <div class="col">
      <%- include('../menu/menu_reveal.ejs') -%>
    </div>
  
    <div class="col">
      <%- include('../menu/menu_type.ejs') -%>
    </div>
  
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <%- include('../menu/menu_wordle.ejs') -%>
    </div>
    <div class="col"></div>
  </div>
</div>



<script>
$(function(){
  $(`#NH-tab`).addClass("active");
  window.deckType = "NH";
});
</script>

<%- include('../foot.ejs') -%>
