<%- include('../head.ejs') -%>
<%- include('navbar.ejs') -%>

<div class="container-fluid pb-3">
  <div class="row mb-3">
    <div class="col-9 g-0">
      <%- include('../menu/select_NH.ejs') -%>
    </div>

    <div class="col-3">
      <%- include('../menu/lists.ejs') -%>
    </div>
  </div>
  <hr />

  <div class="row pb-3">

    <div class="col">
      <%- include('../menu/item_flash.ejs') -%>
    </div>
  
    <div class="col">
      <%- include('../menu/item_match.ejs') -%>
    </div>
  
    <div class="col">
      <%- include('../menu/item_recall.ejs') -%>
    </div>
  
  </div>
  <div class="row pb-3">
  
    <div class="col">
      <%- include('../menu/item_bingo.ejs') -%>
    </div>

    <div class="col">
      <%- include('../menu/item_reveal.ejs') -%>
    </div>

    <div class="col">
      <%- include('../menu/item_grid.ejs') -%>
    </div>
  
  </div>
  <div class="row pb-3">

    <div class="col">
      <%- include('../menu/item_type.ejs') -%>
    </div>
  
    <div class="col">
      <%- include('../menu/item_spell.ejs') -%>
    </div>

    <div class="col">
      <%- include('../menu/item_cards.ejs') -%>
    </div>
  </div>
  <hr />

  <div class="row pb-3">
    <%- include('../menu/menu_5_6.ejs') -%>
  </div>

</div>



<script>
  $(function(){
    $(`#NH-tab`).addClass("active");
  });
</script>

<%- include('../foot.ejs') -%>
