<%- include('../head.ejs') -%>
<%- include('navbar.ejs') -%>

<div class="container-fluid pb-3">
  <div class="row mb-3">
    <div class="col-4">
      <%- include('../menu/lists.ejs') -%>
    </div>

    <div class="col-8">

    <div class="w-100 d-flex flex-wrap">
      <div class="w-50">
        <%- include('../menu/menu_flash.ejs') -%>
      </div>
    
      <div class="w-50">
        <%- include('../menu/menu_match.ejs') -%>
      </div>
    
      <div class="w-50">
        <%- include('../menu/menu_recall.ejs') -%>
      </div>
    
    
      <div class="w-50">
        <%- include('../menu/menu_bingo.ejs') -%>
      </div>

      <div class="w-50">
        <%- include('../menu/menu_reveal.ejs') -%>
      </div>

      <div class="w-50">
        <%- include('../menu/menu_grid.ejs') -%>
      </div>
    

      <div class="w-50">
        <%- include('../menu/menu_type.ejs') -%>
      </div>
    
      <div class="w-50">
        <%- include('../menu/menu_spell.ejs') -%>
      </div>
      </div>
    </div>

  </div>

</div>



<script>
window.deckType = 'nolink'; // define before reading local storage
window.deck = [];
window.local= [];

$(function(){
  $("#add_list_modal").remove();
  $("#delete_list_modal").remove();
  
  const nolink = {
  // sports should include archery, artistic gymnastics, artistic swimming, athletics, badminton, basketball, beach volleyball, boxing, breaking, canoeing, cycling, diving, equestrian, fencing, soccer, golf, handball, hockey, Judo, rhythmic gymnastics, rowing, rugby, sailing, shooting, skateboarding, sport climbing, surfing, swimming, table tennis, taekwondo, tennis, trampoline, triathlon, volleyball, water polo, weightlifting, wrestling
    "Olympics": [{
      "id": "archery",
      "word": "archery",
      "meaning": "アーチェリー",
      "image": "image/Olympics/archery.jpg"
    }, {
      "id": "artistic gymnastics",
      "word": "artistic gymnastics",
      "meaning": "体操",
      "image": "image/Olympics/artistic_gymnastics.jpg"
    }, {
      "id": "artistic swimming",
      "word": "artistic swimming",
      "meaning": "アーティスティックスイミング",
      "image": "image/Olympics/artistic_swimming.jpg"
    }, {
      "id": "athletics",
      "word": "athletics",
      "meaning": "陸上競技",
      "image": "image/Olympics/athletics.jpg"
    }, {
      "id": "badminton",
      "word": "badminton",
      "meaning": "バドミントン",
      "image": "image/Olympics/badminton.jpg"
    }, {
      "id": "basketball",
      "word": "basketball",
      "meaning": "バスケ",
      "image": "image/Olympics/basketball.jpg"
    }, {
      "id": "beach volleyball",
      "word": "beach volleyball",
      "meaning": "ビーチバレー",
      "image": "image/Olympics/beach_volleyball.jpg"
    }, {
      "id": "boxing",
      "word": "boxing",
      "meaning": "ボクシング",
      "image": "image/Olympics/boxing.jpg"
    }, {
      "id": "breaking",
      "word": "breaking",
      "meaning": "ブレイキング",
      "image": "image/Olympics/breaking.jpg"
    }, {
      "id": "canoeing",
      "word": "canoeing",
      "meaning": "カヌー",
      "image": "image/Olympics/canoeing.jpg"
    }, {
      "id": "cycling",
      "word": "cycling",
      "meaning": "自転車",
      "image": "image/Olympics/cycling.jpg"
    }, {
      "id": "diving",
      "word": "diving",
      "meaning": "ダイビング",
      "image": "image/Olympics/diving.jpg"
    }, {
      "id": "equestrian",
      "word": "equestrian",
      "meaning": "馬術",
      "image": "image/Olympics/equestrian.jpg"
    }, {
      "id": "fencing",
      "word": "fencing",
      "meaning": "フェンシング",
      "image": "image/Olympics/fencing.jpg"
    }, {
      "id": "golf",
      "word": "golf",
      "meaning": "ゴルフ",
      "image": "image/Olympics/golf.jpg"
    }, {
      "id": "handball",
      "word": "handball",
      "meaning": "ハンドボール",
      "image": "image/Olympics/handball.jpg"
    }, {
      "id": "hockey",
      "word": "hockey",
      "meaning": "ホッケー",
      "image": "image/Olympics/hockey.jpg"
    }, {
      "id": "Judo",
      "word": "Judo",
      "meaning": "柔道",
      "image": "image/Olympics/Judo.jpg"
    }, {
      "id": "rhythmic gymnastics",
      "word": "rhythmic gymnastics",
      "meaning": "新体操",
      "image": "image/Olympics/rhythmic_gymnastics.jpg"
    }, {
      "id": "rowing",
      "word": "rowing",
      "meaning": "ボート",
      "image": "image/Olympics/rowing.jpg"
    }, {
      "id": "rugby",
      "word": "rugby",
      "meaning": "ラグビー",
      "image": "image/Olympics/rugby.jpg"
    }, {
      "id": "sailing",
      "word": "sailing",
      "meaning": "セーリング",
      "image": "image/Olympics/sailing.jpg"
    }, {
      "id": "shooting",
      "word": "shooting",
      "meaning": "射撃",
      "image": "image/Olympics/shooting.jpg"
    }, {
      "id": "skateboarding",
      "word": "skateboarding",
      "meaning": "スケートボード",
      "image": "image/Olympics/skateboarding.jpg"
    }, {
      "id": "soccer",
      "word": "soccer",
      "meaning": "サッカー",
      "image": "image/Olympics/soccer.jpg"
    }, {
      "id": "sport climbing",
      "word": "sport climbing",
      "meaning": "スポーツクライミング",
      "image": "image/Olympics/sport_climbing.jpg"
    }, {
      "id": "surfing",
      "word": "surfing",
      "meaning": "サーフィン",
      "image": "image/Olympics/surfing.jpg"
    }, {
      "id": "swimming",
      "word": "swimming",
      "meaning": "水泳",
      "image": "image/Olympics/swimming.jpg"
    }, {
      "id": "table tennis",
      "word": "table tennis",
      "meaning": "卓球",
      "image": "image/Olympics/table_tennis.jpg"
    }, {
      "id": "taekwondo",
      "word": "taekwondo",
      "meaning": "テコンドー",
      "image": "image/Olympics/taekwondo.jpg"
    }, {
      "id": "tennis",
      "word": "tennis",
      "meaning": "テニス",
      "image": "image/Olympics/tennis.jpg"
    }, {
      "id": "trampoline",
      "word": "trampoline",
      "meaning": "トランポリン",
      "image": "image/Olympics/trampoline.jpg"
    }, {
      "id": "triathlon",
      "word": "triathlon",
      "meaning": "トライアスロン",
      "image": "image/Olympics/triathlon.jpg"
    }, {
      "id": "volleyball",
      "word": "volleyball",
      "meaning": "バレーボール",
      "image": "image/Olympics/volleyball.jpg"
    }, {
      "id": "water polo",
      "word": "water polo",
      "meaning": "水球",
      "image": "image/Olympics/water_polo.jpg"
    }, {
      "id": "weightlifting",
      "word": "weightlifting",
      "meaning": "ウエイトリフティング",
      "image": "image/Olympics/weightlifting.jpg"
    }, {
      "id": "wrestling",
      "word": "wrestling",
      "meaning": "レスリング",
      "image": "image/Olympics/wrestling.jpg"
    }
    ]
  };

 // initialize local storage
  localStorage.setItem('nolink', JSON.stringify(nolink));
});
</script>

<%- include('../foot.ejs') -%>
