<%- include('../head.ejs') -%>
<%- include('navbar.ejs') -%>

<div class="container-fluid">
  <div class="row pb-3">
    <div class="col">
      <div id="tags" class="d-flex flex-wrap">
        <div class="d-flex align-items-start border rounded-2 p-0 m-3">
          <input class="form-check-input me-2" type="radio" name="tags" id="numbers" value="numbers" aria-label="numbers">
          <label class="form-check-label me-3" style="margin-left:-5px;" for="numbers">No.</label>          
          <label class="form-check-label" style="margin-left:-5px;" for="firstNum">from</label>
          <input type="number" id="firstNum" min="0" class="form-control p-0 ms-1 me-3" style="width:45px;" aria-label="first number">
          <label class="form-check-label" style="margin-left:-5px;" for="lastNum">to</label>
          <input type="number" id="lastNum" min="0" class="form-control p-0 ms-1" style="width:45px;" aria-label="last number">
        </div>
      </div>
      <div id="numOfItems"></div>
    </div>
  </div>
  <div class="row">

    <div class="col">
      <%- include('../menu/menu_flash.ejs') -%>
    </div>
  
    <div class="col">
      <%- include('../menu/menu_match.ejs') -%>
    </div>
  
    <div class="col">
      <%- include('../menu/menu_recall.ejs') -%>
    </div>
  
  </div>
  <div class="row pt-3">

    <div class="col">
      <%- include('../menu/menu_bingo.ejs') -%>
    </div>
  
    <div class="col">
    </div>

    <div class="col">
      <%- include('../menu/menu_type.ejs') -%>
    </div>

  </div>
</div>

<script>
$(function(){
  $(`#text-tab`).addClass("active");
  let text_decks = <%- JSON.stringify(text_decks) %>;
  window.deck = [];
  window.deckType = 'text';

  for (let t in text_decks) {
    if ( ["animals", "objects"].includes(t) ) continue;
    $("#tags").append(`<div class="form-check m-3">
      <input class="form-check-input" type="radio" name="tags" id="tag_${t}" value="${t}" aria-label="tags">
      <label class="form-check-label me-3" style="margin-left:-5px;" for="tag_${t}">${t} (${text_decks[t].length})</label>
    </div>`);
  }

  $("#firstNum").on("change", (e)=>{
    let val = parseInt(e.target.value);
    let max = $("#lastNum").val();
    max = max ? parseInt(max) : 0;
    $("#numbers").prop("checked", true);
    if (max < val) $("#lastNum").val(val);
  });

  $("#lastNum").on("change", (e)=>{
    let val = parseInt(e.target.value);
    let min = $("#firstNum").val();
    min = min ? parseInt(min) : 0;
    $("#numbers").prop("checked", true);
    if (min > val) $("#firstNum").val(val);
  });

  $("#tags").on("change", (e)=>{
    window.deck = [];
    if ( $("#numbers").prop("checked") ) {
      let from = parseInt($("#firstNum").val());
      let to = parseInt($("#lastNum").val());
      for (let i=from; i<=to; i++) {
        window.deck.push({name: i});
      }
    }
    else {
      let deck = text_decks[e.target.value];
      for (let i=0; i<deck.length; i++) {
        window.deck.push({name: deck[i]});
      }
    }
  });

});
</script>

<%- include('../foot.ejs') -%>
