<%- include('../head.ejs') -%>
<%- include('navbar.ejs') -%>

<div class="container-fluid">
  <div class="row pt-3">

    <div class="col">
      <%- include('../menu/menu_richtext.ejs') -%>
    </div>

    <div class="col">
      <%- include('../menu/menu_names.ejs') -%>
    </div>

    <div class="col">
      <%- include('../menu/menu_brainbox.ejs') -%>
    </div>

  </div>
</div>



<script>
$(function(){
  $(`#tools-tab`).addClass("active");
});
</script>
  
<%- include('../foot.ejs') -%>
